<template>
    <div id="block-cart">
        <a href="javascript:void(0);" class="cart" v-on:click="openMenu">
            <i class="fa fa-shopping-cart" aria-hidden="true">
                <span class="badge">200</span>
            </i>
        </a> 
        <ul class="drop-down anim zoomIn" v-if="show">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>У Вас <span class="badge">200</span> товарів</p>
                    </div> 
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i></a> 
                    </div>
                </div>
            </li>
            <li class="bottom">
                <div class="row">
                    <div class="col-lg-6"> 
                        <p class="sum">Сума: <b>$60.92</b></p> 
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="javascript:void(0);" class="btn btn-cart w100p">придбати зараз</a>
                    </div>    
                </div>
            </li> 
        </ul> 
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        data(){
            return {
                show: false,
            }  
        },
	methods:{
	    openMenu: function()
            {
                this.show = !this.show;
                EventBus.$emit('open-info', 'cart');
            }
	},
        mounted(){
            var _this = this;
            EventBus.$on('open-info', function(info){
                if (info !== 'cart') {
                    _this.show = false;
                }
            });
	    //
            $('#find, .content, footer, #header-catalog, #block-profile-my').on('click', function(){
                _this.show = false;
            });
        }
    }
</script>