<template>
    <div id="block-string">
        <a href="javascript:void(0);" class="string" v-on:click="openMenu">
            <i class="ico-projects">
                <span class="badge">420</span>
            </i> 
        </a>
        <ul class="drop-down anim zoomIn" v-if="show">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>Стрічка проектів</p>
                    </div> 
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="ico-gear"></i></a>
                    </div>
                </div> 
            </li> 
        </ul> 
    </div>
</template> 

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        data(){
            return {
                show: false,
            }  
        },
	methods:{
	    openMenu: function()
            {
                this.show = !this.show;
                EventBus.$emit('open-info', 'string');
            }
	},
        mounted(){
            var _this = this;
            EventBus.$on('open-info', function(info){
                if (info !== 'string') {
                    _this.show = false;
                }
            });
            //
            $('#find, .content, footer, #header-catalog, #block-profile-my').on('click', function(){
                _this.show = false;
            });
        }
    }
</script>