<template>
    <div id="block-gall" class="container">
        <h2>Галерея</h2>
        <span class="ln"></span>
        <h3>моделей</h3>
        <div class="row m-b-20" v-for="block in 2">
            <div class="col-lg-3" v-for="block in 4">
                <div class="iner">
                    <div class="thm">
                        <div class="thm-left">
                            <ul class="infos">
                                <li>
                                    <div class="ic">
                                        {{ $faker().finance.amount(0, 500, 0) }}<br>
                                        <i class="blk-uniF105"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="ic">
                                        {{ $faker().finance.amount(0, 500, 0) }}<br>
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="ic">
                                        {{ $faker().finance.amount(0, 500, 0) }}<br>
                                        <i class="blk-uniF108"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="ic">
                                        {{ $faker().finance.amount(0, 500, 0) }}<br>
                                        <i class="blk-uniF107"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="thm-rigth"> 
                            <img :src="$faker().image.image(250,185)" class="img-responsive">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="thm-2">
                        <div class="thm-left">
                            <h3>{{ $faker().commerce.productName() }}</h3>
                            <h4>{{ $faker().commerce.productAdjective() }}</h4>
                        </div>
                        <div class="thm-rigth">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Розмістити роботу</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всієї галереї <i class="blk-uniF101"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                
            }  
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockNew.');
        }
    }
</script>