<template>
    <div id="block-user">
        <div class="row">
            <div class="col-lg-6">
                <router-link to="/profile/activity" class="ava" v-if="user">
                    <img :src="'/avatar/40x40/'+user.id" :alt="user.first_name" class="img-circle img-responsive">
                </router-link>
            </div>
            <div class="col-lg-6">
                <div class="balans">$ 10.25</div> 
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                user: null,
            }  
        },
        methods:{
            logout: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/logout').then(response => {
                    this.$auth.logout();
                    this.$Progress.finish();
                    window.location.href = '/';
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockUser.');
            this.user = JSON.parse(localStorage.getItem('user'));
        }
    }
</script>