<template>
    <div id="block-group-week" class="container">
        <h2>Групи</h2>
        <span class="ln"></span>
        <h3>тижня</h3> 
        <div class="row">
            <div class="col-lg-4" v-for="(block, k) in 3">
                <div class="in" :class="'in-'+k">
                    <div class="bg-group">
                        <img :src="$faker().image.image(227,250)" class="img-responsive">
                    </div>
                    <h3 class="title text-center">{{ $faker().commerce.productName() }}</h3>
                    <div class="descr text-center">{{ $faker().lorem.words() }}</div>
                    <div class="text-center">
                        <div class="pipls">учасників <span>{{ $faker().finance.amount(0, 5000, 0) }}</span></div>
                    </div>
                    <div class="users">
                        <a href="javascript:void(0);" class="ava" v-for="(block, k) in 5">
                            <img :src="$faker().internet.avatar()" :alt="$faker().name.findName()" class="img-circle img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-yelow w100p tup">Створити групу</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-default w100p tup">До всіх груп <i class="blk-uniF101"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                
            }  
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockGroupWeek.');
        }
    }
</script>