<template>
    <div id="block-notify">
        <a href="javascript:void(0);" class="notify" v-on:click="openMenu">
            <i class="fa fa-bell" aria-hidden="true">
                <span class="badge">42</span>
            </i>
        </a>
        <ul class="drop-down anim zoomIn" v-if="show">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>У Вас <span class="badge">42</span> сповіщення</p>
                    </div> 
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="ico-gear"></i></a>
                    </div>
                </div>
            </li>
            <li class="bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Баланс PIX</p>
                    </div> 
                    <div class="col-lg-6 text-right">
                        <p>0</p>
                    </div>
                </div>
            </li> 
        </ul>
    </div> 
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        data(){
            return {
                show: false,
            }  
        },
	methods:{
	    openMenu: function()
            {
                this.show = !this.show;
                EventBus.$emit('open-info', 'notify');
            }
	},
        mounted(){
            var _this = this;
            EventBus.$on('open-info', function(info){
                if (info !== 'notify') {
                    _this.show = false;
                }
            });
            //
            $('#find, .content, footer, #header-catalog, #block-profile-my').on('click', function(){
                _this.show = false;
            });
        }
    }
</script>