<template>
    <div id="block-mess">
        <a href="javascript:void(0);" class="mess" v-on:click="openMenu"> 
            <i class="fa fa-envelope" aria-hidden="true">
                <span class="badge">42</span>
            </i>
        </a>
        <ul class="drop-down anim zoomIn" v-if="show">
            <li class="top">
                <div class="row">
                    <div class="col-lg-10">
                        <p>У Вас <span class="badge">42</span> повідомлень</p>
                    </div> 
                    <div class="col-lg-2 text-right">
                        <a href="javascript:void(0);"><i class="ico-right"></i></a>
                    </div>
                </div>
            </li> 
        </ul>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        data(){
            return {
                show: false,
            }  
        },
	methods:{
	    openMenu: function(e)
            {
                e.stopPropagation();
                this.show = !this.show;
                EventBus.$emit('open-info', 'mess');
            }
	},
        computed: {
           
        },
        mounted(){
            var _this = this;
            EventBus.$on('open-info', function(info){
                if (info !== 'mess') {
                    _this.show = false;
                }
            });
            //
            $('#find, .content, footer, #header-catalog, #block-profile-my').on('click', function(){
                _this.show = false;
            });
            
        }
    }
</script>