<template>
    <transition name="fade">
        <div id="find-with-photo" v-if="open">
            <a href="javascript:void(0);" class="close-f" v-on:click="closeFoto"><i class="ico-close-f"></i></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h2 class="text-center">{{ $t('shearch.h2') }}</h2>
                        <h3 class="text-center h2-sm m-t-0">{{ $t('shearch.h3') }}</h3>
                        <div class="select-foto">
                            <button class="btn btn-default btn-up">{{ $t('shearch.selectFile') }}</button>
                        </div>
                        <div class="upload-drop-zone" id="drop-zone">
                            <i class="ico-drag-drop"></i>
                            <p>{{ $t('shearch.txt') }}</p>
                        </div>
                        <span class="info">{{ $t('shearch.info') }}</span>
                    </div>
                </div>
            </div>
        </div> 
    </transition>
</template>

<script>
    export default {
        props: {
            open: {
                type: Boolean,
                default: false
            },
        },
        data(){
            return {
                
            }  
        },
        computed: {
            
        },
        methods:{
            closeFoto: function()
            {
                //this.open = false;
                this.$emit('onCloseBlock')
            }
        },
        mounted() {
            console.log('Component mounted Main.');
            //this.$parent.currentBlock = 'header-slot';
        }
    }
</script>