<template>
    <div id="find">
        <div class="container">
            <div id="block-find">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <form>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="poker face">
                                <span class="input-group-addon input-group-camera" v-on:click="openFoto">
                                    <i class="ico-camera"></i>
                                </span>
                                <span class="input-group-addon input-group-addon-select">
                                    <div class="rl"></div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selected }} <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu" v-if="catalog">
                                            <li v-for="cat in categorys">
                                                <a href="javascript:void(0);" v-on:click="selectCategory(cat)"><i class="ico-d-cat" :class="cat.ico+'-1'"></i>{{ cat.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </span>
                                <span class="input-group-addon input-group-find">
                                    <i class="ico-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <block-find-with-photo :open="open" @onCloseBlock="setClose"></block-find-with-photo>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    
    export default {
        data(){
            return {
                locale: localStorage.getItem('currentLang'),
                catalog: null,
                selected: this.$t('shearch.all'),
                open:false,
            }  
        },
        methods:{
            setCatalog: function()
            {
                var catalog = localStorage.getItem('catalog');
                if (catalog) {
                    this.catalog = JSON.parse(catalog);
                }
            },
            selectCategory: function(cat)
            {
                this.selected = cat.name;
            },
            openFoto: function()
            {
                this.open = true;
            },
            setClose: function()
            {
                this.open = false;
            }
        },
        computed: {
            categorys: function()
            {
                return this.catalog[this.locale];
            }
        },
        mounted() {
            this.setCatalog();
            var _this = this;
	    EventBus.$on('lang-change', function(){
                _this.locale = localStorage.getItem('currentLang');
                _this.selected = _this.$t('shearch.all');
            });
        }
    }
</script>