<template>
    <div class="login-pop-up">
            <vue-progress-bar></vue-progress-bar>
            <notifications classes="cp"/>
            <div class="login-pop-mask"></div>
            <div class="close-btn">
                <a href="javascript:void(0);" v-on:click="closePopUp"><i class="ico-close-f"></i></a>
            </div>
            <div class="login-pop-up-cont"> 
                <div class="container" v-if="currentForm != 'reminder'">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                            <div v-if="currentForm == 'login'">
                            <form id="login-form" v-on:submit="submitLogin('login', $event)" data-vv-scope="login" accept-charset="UTF-8" role="form">
                                <div class="form-group">
                                    <label for="email" class="lbl">E-mail</label> 
                                    <input key="k1" v-model="login.email" data-vv-as="E-mail" v-validate="'required|email'" name="login_email" type="email" class="form-inp" placeholder="E-mail">
                                </div>
                                <div class="form-group"> 
                                    <label key="k1" for="password" class="lbl">{{ $t('loginBlock.password') }}</label>
                                    <input v-model="login.password" :data-vv-as="$t('loginBlock.password')" v-validate="'required'" name="login_password" type="password" class="form-inp" :placeholder="$t('loginBlock.password')">
                                </div>
                                <div class="row butons">
                                    <div class="col-lg-6">
                                        <div class="checkbox checkbox-1">
                                            <label><input v-model="login.remember" value="1" type="checkbox"><i></i>
                                                <span>{{ $t('loginBlock.remember') }}</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <a href="javascript:void(0);" class="forgot" v-on:click="setForm('forgot')">{{ $t('loginBlock.forgot') }}</a>
                                    </div>
                                </div>  
                                <button class="btn btn-trans w100p tup" type="submit">{{ $t('loginBlock.login') }} <i class="icon-enter"></i></button>
                            </form><!--#login-form-->
                            </div>
                            
                            <div v-if="currentForm == 'register'">
                            <form id="register-form" v-on:submit="submitRegister('register', $event)" data-vv-scope="register" accept-charset="UTF-8" role="form">
                                <div class="form-group">
                                    <label for="email" class="lbl">E-mail</label> 
                                    <input key="k2" v-model="register.email" data-vv-as="E-mail" v-validate="'required|email'" name="register_email" type="email" class="form-inp" placeholder="E-mail">
                                </div>
                                <div class="form-group"> 
                                    <label for="password" class="lbl">{{ $t('loginBlock.password') }}</label>
                                    <input key="k2" v-model="register.password"  :data-vv-as="$t('loginBlock.password')" v-validate="'required'" name="register_password" type="password" class="form-inp" :placeholder="$t('loginBlock.password')">
                                </div>
                                <div class="row butons">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <img :src="captchaImg" data-toggle="tooltip" data-placement="top" :title="$t('captcha.tolltip')" class="img-responsive" alt="captcha" v-on:click="genCaptcha">
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group m-b-0"> 
                                                    <input key="k2" v-model="register.captcha" data-vv-as="Captha" v-validate="'required'" name="register_captcha" type="text" class="form-inp" placeholder="Captha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <a href="javascript:void(0);" class="forgot" v-on:click="setForm('login')">{{ $t('loginBlock.eacc') }}</a>
                                    </div>
                                </div>  
                                <button class="btn btn-trans w100p tup" type="submit">{{ $t('loginBlock.register') }}</button>
                            </form><!--#register-form-->
                            </div>
                            
                            <form id="forgot-form" v-if="currentForm == 'forgot'" v-on:submit="submitForgot('forgot', $event)" data-vv-scope="forgot" accept-charset="UTF-8" role="form">
                                <div class="form-group">
                                    <label for="email" class="lbl">E-mail</label> 
                                    <input key="k3" v-model="forgot.email" data-vv-as="E-mail" v-validate="'required|email'" name="forgot_email" type="email" class="form-inp" placeholder="E-mail">
                                </div>
                                <div class="row butons">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <img :src="captchaImg" data-toggle="tooltip" data-placement="top" :title="$t('captcha.tolltip')" class="img-responsive" alt="captcha" v-on:click="genCaptcha">
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group m-b-0"> 
                                                    <input key="k3" v-model="forgot.captcha" data-vv-as="Captha" v-validate="'required'" name="forgot_captcha" type="text" class="form-inp" placeholder="Captha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <a href="javascript:void(0);" class="forgot" v-on:click="setForm('login')">{{ $t('loginBlock.iforgot') }}</a>
                                    </div>
                                </div>  
                                <button class="btn btn-trans w100p tup">{{ $t('loginBlock.unpass') }}</button>
                            </form><!--#forgot-form-->
                            
                        </div>
                        <div class="col-lg-1">
                            <div class="v-line"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="login-soc">
                                <label class="lbl">{{ $t('loginBlock.noacc') }}</label>
                                <a href="javascript:void(0);" class="btn btn-trans w100p tup" v-on:click="setForm('register')">{{ $t('loginBlock.createacc') }}</a>
                                <label class="lbl">{{ $t('loginBlock.or') }}</label>
                                <div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo,phone,city;callback=ulogins;redirect_uri">
                                    <button data-uloginbutton="facebook" class="btn btn-facebook w100p"><i aria-hidden="true" class="fa fa-facebook"></i> {{ $t('loginBlock.auth') }} <span>Facebook</span></button>
                                    <button data-uloginbutton="google" class="btn btn-google w100p"><i aria-hidden="true" class="fa fa-google-plus"></i> {{ $t('loginBlock.auth') }} <span>Google</span></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div><!--.container-->
                <div class="container" v-if="currentForm == 'reminder'">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <form id="reminder-form" v-if="currentForm == 'reminder'" v-on:submit="submitReminder('reminder', $event)" data-vv-scope="reminder" accept-charset="UTF-8" role="form">
                                <div class="form-group">
                                    <label for="code" class="lbl">{{ $t('forgot.code') }}</label> 
                                    <input key="k4" v-model="reminder.code" :data-vv-as="$t('forgot.code2')" v-validate="'required'" name="reminder_code" type="text" class="form-inp" :placeholder="$t('forgot.code2')">
                                </div>
                                <div class="form-group">
                                    <input key="k4" v-model="reminder.password" :data-vv-as="$t('forgot.password')" v-validate="'required|min:6'" name="reminder_password" type="password" class="form-inp" :placeholder="$t('forgot.password')">
                                </div>
                                <div class="form-group">
                                    <input key="k4" v-model="reminder.password_confirmation" :data-vv-as="$t('forgot.password2')" v-validate="'required|min:6|confirmed:reminder_password'" name="reminder_password_confirmation" type="password" class="form-inp" :placeholder="$t('forgot.password2')">
                                </div>
                                
                                <div class="row butons">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <img :src="captchaImg" data-toggle="tooltip" data-placement="top" :title="$t('captcha.tolltip')" class="img-responsive" alt="captcha" v-on:click="genCaptcha">
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group"> 
                                                    <input key="k4" v-model="reminder.captcha" data-vv-as="Captha" v-validate="'required'" name="reminder_captcha" type="text" class="form-inp" placeholder="Captha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <button class="btn btn-trans w100p tup">{{ $t('loginBlock.unpass') }}</button>
                            </form><!--#forgot-form-->
                        </div>
                    </div>
                </div><!--.container-->
            </div><!--.login-pop-up-cont-->
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        inject: ['$validator'],
        data(){
            return {
                open: true,
                currentForm: 'login',
                loading: false,
                btndis: true,
                captchaImg: null,
                login: {
                    email: '',
                    password: '',
                    remember: '',
                },
                register: {
                    email: null,
                    password: null,
                    captcha: null,
                    lang: localStorage.getItem('currentLang'),
                },
                forgot:
                {
                    email: null,
                    captcha: null,
                    lang: localStorage.getItem('currentLang'),
                },
                reminder:
                {
                    code: null,
                    password: null,
                    password_confirmation: null,
                    captcha: null,
                }
            }  
        },
        methods:{
            openPopUp: function()
            {
                var _this = this;
                this.open = true;
                $('body').addClass('blurBody');
                $('.login-pop-mask').on('click', function(){
                    _this.closePopUp();
                });
            },
            closePopUp: function()
            {
                this.open = false;
                $('.login-pop-up').fadeOut(500, function(){
                    $('body').removeClass('blurBody');
                    $('.login-pop-up').remove();
                });
            },
            setForm: function(form)
            {
                this.currentForm = form;
                this.getCaptcha();
                this.$nextTick(function() {
                    $(document).ready(function() {
                        $('[data-toggle="tooltip"]').tooltip();
                    });
                });
            },
            getCaptcha: function()
            {
                axios.post('/api/v1/captcha').then(response => {
                    this.captchaImg = response.data;
                }).catch(error => {
                    
                });
                    
            },
            genCaptcha: function()
            {
                this.getCaptcha();
            },
            submitLogin: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        this.$Progress.start();
                        axios.post('/api/v1/login', this.login).then(response => {
                            
                            this.$auth.setToken(
                                response.data.cartalyst_sentinel,
                                JSON.stringify(response.data.user),
                                response.data.expiration,
                            );
                            window.location.href = response.data.redirect;
                            this.$Progress.finish();
                            
                        }).catch(error => {
                            
                            this.$Progress.fail();
                            this.$msg.err(error.response.data.error[localStorage.getItem('currentLang')], this.$notify, this.$t('error'));
                        });
                    }
                    else
                    {
                        this.$msg.setErrors(this.errors, this.$notify, this.$t('error'));
                    }
                });
            },
            submitRegister: function(scope, e)
            {
                e.preventDefault();
                
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        
                        this.$Progress.start();
                        axios.post('/api/v1/register', this.register).then(response => {
                            
                            this.$auth.setToken(
                                response.data.cartalyst_sentinel,
                                JSON.stringify(response.data.user),
                                response.data.expiration,
                            );
                            this.$notify({
                                type: 'success',
                                title: this.$t('success'), 
                                text: this.$t('register.success'), 
                            });
                            
                            
                            setTimeout(function(){
                                window.location.href = response.data.redirect;
                            }, 2000);
                            
                            this.$Progress.finish();
                            
                        }).catch(error => {
                            console.log(error.response.data.message);
                            this.$Progress.fail();
                            this.$msg.err(error.response.data.error[localStorage.getItem('currentLang')], this.$notify, this.$t('error'));
                        });
                    }
                    else
                    {
                        this.$msg.setErrors(this.errors, this.$notify, this.$t('error'));
                    }
                });
            },
            submitForgot: function(scope, e)
            {
                e.preventDefault();
                
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        
                        this.$Progress.start();
                        axios.post('/api/v1/user/reminder', this.forgot).then(response => {
                            
                            this.$notify({
                                type: 'success',
                                title: this.$t('success'), 
                                text: this.$t('forgot.msg'), 
                            });
                            
                            localStorage.setItem('reminder', true);
                            
                            this.currentForm = 'reminder';
                            
                            this.$Progress.finish();
                            
                        }).catch(error => {
                            console.log(error.response.data.message);
                            this.$Progress.fail();
                            this.$msg.err(error.response.data.error[localStorage.getItem('currentLang')], this.$notify, this.$t('error'));
                        });
                    }
                    else
                    {
                        this.$msg.setErrors(this.errors, this.$notify, this.$t('error'));
                    }
                });
            },
            submitReminder: function(scope, e)
            {
                e.preventDefault();
                
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        
                        this.$Progress.start();
                        axios.put('/api/v1/user/reminder', this.reminder).then(response => {
                            
                            this.$auth.setToken(
                                response.data.cartalyst_sentinel,
                                JSON.stringify(response.data.user),
                                response.data.expiration,
                            );
                            this.$notify({
                                type: 'success',
                                title: this.$t('success'), 
                                text: this.$t('forgot.msg2'), 
                            });
                            
                            
                            setTimeout(function(){
                                window.location.href = response.data.redirect;
                            }, 2000);
                            
                            localStorage.removeItem('reminder');
                            
                            this.$Progress.finish();
                            
                        }).catch(error => {
                            this.$Progress.fail();
                            this.$msg.err(error.response.data.error[localStorage.getItem('currentLang')], this.$notify, this.$t('error'));
                        });
                    }
                    else
                    {
                        this.$msg.setErrors(this.errors, this.$notify, this.$t('error'));
                    }
                });
            },
            ulogin: function()
            {
                var _this = this;
                window.ulogins = (arg) => {
                    $.getJSON("//ulogin.ru/token.php?host=" +
                    encodeURIComponent(location.toString()) + "&token=" + arg + "&callback=?",
                    function(data){
                        data=$.parseJSON(data.toString());
                        if(!data.error){
                            //
                            _this.$Progress.start();
                            data['lang'] = localStorage.getItem('currentLang');
                            axios.post('/api/v1/social/login', data).then(response => {
                                _this.$auth.setToken(
                                    response.data.cartalyst_sentinel,
                                    JSON.stringify(response.data.user),
                                    response.data.expiration,
                                );
                                window.location.href = response.data.redirect;
                                _this.$Progress.finish();
                            }).catch(error => {
                                _this.$Progress.fail();
                                _this.$msg.err(error.response.data.error[localStorage.getItem('currentLang')], _this.$notify, _this.$t('error'));
                            });
                            
                        }
                    });
                }
            }
        },
        computed: {
            
        },
        created() {
            var vm = this;
            setTimeout(function() {
                vm.errors.items = [];
            }, 500);
	},
        mounted() {
            var _this = this;
            this.openPopUp();
            this.getCaptcha();
            console.log('Component mounted ModalLogin.');
            this.$validator.setLocale(localStorage.getItem('currentLang'));
            //
            EventBus.$on('lang-change', function(){
                _this.$validator.setLocale(localStorage.getItem('currentLang'));
            });
            //
            this.$nextTick(function() {
                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            });
            //
            var rem = localStorage.getItem('reminder');
            if (rem) {
                this.currentForm = 'reminder';
            }
            else
            {
                this.currentForm = 'login';
            }
            //
            this.ulogin();
        }
    }
</script>