<template>
    <div id="upload-foto">
        <!--<pre>{{ img }}</pre>-->
        <div class="row images-row" v-if="img">
            <div class="col-lg-2" v-for="image in img">
                <div class="image">
                    <a href="javascript:void(0);" v-if="image.remove" v-on:click="onRemove(image)" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <div v-if="image.loading" class="loading"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                    <img :src="image.src" class="img-responsive" alt="Responsive image">
                    <input v-if="image.fid" type="hidden" name="image[]" :value="image.fid" />
                </div>
            </div>
        </div>
        <input id="input-foto" v-on:change="getFotoFiles" type="file" accept="image/*" multiple="multiple">
        <div class="button-foto">
            <a class="add-foto btn btn-success" v-on:click="clickButton" href="javascript:void(0);"><i class="fa fa-camera" aria-hidden="true"></i> Добавить фото</a>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            images:{
                type: Array,
                default: []
            }
        },
        data(){
            return {
                img: this.images,
            }  
        },
        methods: {
            clickButton: function()
            {
                var input = $('#input-foto');
                input.get(0).click();
            },
            getFotoFiles: function(e)
            {
                var files = e.target.files;
                if (files.length > 5) {
                    this.$swal(
                        'Беда...',
                        'За один раз можно выбрать не более 5 ти картинок',
                        'error'
                    );
                }
                else
                {
                    for (var i = 0; i < files.length; i++)
                    {
                        this.createImage(files[i]);
                    }
                }
            },
            createImage: function(file)
            {
                var _this = this;
                var reader = new FileReader();
                
                var id = Math.round(new Date().getTime() + (Math.random() * 100));
                reader.onload = (e) => {
                    _this.img.push({
                        id: id.toString(),
                        src: e.target.result,
                        fid: null,
                        loading: true,
                        remove: false,
                    });
                };
                
                reader.readAsDataURL(file);
                
                var img = _this.uploadFile(file, id);
                //console.log(img);
            },
            uploadFile: function(file, id)
            {
                var _this = this;
                var form_data = new FormData();
                form_data.append('image', file);
                form_data.append('id', id);
                //console.log(file);
                //
                axios.post('/admin/product/upload/foto', form_data).then(response => {
                    for (var i = 0; i < _this.img.length; i++)
                    {
                        if (_this.img[i].id === response.data.id) {
                            _this.img[i].src = response.data.src;
                            _this.img[i].fid = response.data.fid;
                            _this.img[i].loading = false;
                            _this.img[i].remove = true;
                        }
                    }
                }).catch(error => {
                    
                });
            },
            onRemove: function(image)
            {
                var _this = this;
                for (var i = 0; i < _this.img.length; i++)
                {
                    if (_this.img[i].fid === image.fid) {
                        _this.img.splice(i, 1);
                        axios.post('/admin/product/remove/foto/'+image.fid);
                    }
                }
            }
        },
        mounted() {
            
        }
    }
</script>