#input-foto {
  display: none;
}

.images-row {
  margin-bottom: 15px;
}

.images-row .image {
  margin-bottom: 15px;
}

.images-row .image .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.images-row .image .loading i {
  color: #33B86C;
  font-size: 28px;
  left: 50%;
  margin-left: -14px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
}

.images-row .image .remove {
  color: #ff0000;
  margin-right: 20px;
  margin-top: 5px;
  position: absolute;
  right: 0;
}
