<template>
    <div class="page-about">
        <div id="block-1"  class="container">
            <h1>О компании</h1>
        </div>
        <div id="block-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h2>Краткая история группы</h2>
                        <p>Компания была основана в 2007 и работала под торговой маркой "Новая линия".</p>
                        <p>Компания является Агентом большой тройки (Билайн - МТС - Мегафон).</p>
                        <p>За время работы компания получила огромный опыт в работе с клиентами.</p>
                        <p>Благодаря этому Мы очень хорошо понимаем потребности клиента и создаем тарифы отвечающие всем потребностям.</p>
                        <p>В 2015 году в компании произошел ребрендинг.</p>
                        <p>Компания Стала работать под торговой маркой Vipabonent.</p>
                        <p>Наши принципы это - Простота - Прозрачность - Доступность.</p>
                        <p>Мы создали продукт отвечающий современным тенденциям рынка.</p>
                        <p>Новая линейка была запущена 1 февраля 2015 года под брендом Vipabonent.</p>
                        <p>Данная продуктовая линейка хорошо зарекомендовала себя со всех сторон и получила успех среди клиентов.</p>
                        <div class="imgs">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="http://css.progim.net/vipabon/src/assets/dizain-ofisa1.png" class="img-responsive">
                                </div>
                                <div class="col-lg-3">
                                    <img src="http://css.progim.net/vipabon/src/assets/v-kotorye-veryat-ofisnye-rabotniki.png" class="img-responsive">
                                </div>
                                <div class="col-lg-3">
                                    <img src="http://css.progim.net/vipabon/src/assets/031.png" class="img-responsive">
                                </div>
                                <div class="col-lg-3">
                                    <img src="http://css.progim.net/vipabon/src/assets/cvet-sten-v-ofise-2.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <h2>VIPABONENT сегодня</h2>
                        <p>Эта группа компаний “новая иния и широкая сеть партноров в России. Для покупателей Vipabonent это широкий спектр выгодных услуг и товаров.</p>
                        <h2>Наши принципы</h2>
                        <p>Простота - Прозрачность - Доступность - Лояльность</p>
                        <h2>Наш слоган</h2>
                        <p>Даем безлимитные звонки и интернет без роуминга по РФ</p>
                        <h2>Наша миссия</h2>
                        <p>Проезвести революцию в мобильном мире услуг и товаров России.</p>
                        <h2>наши партнеры</h2>
                        <p>Компания является официальным Агентом Билайн, МТС, Мегафон и парнером BQ с 2007 года.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                
            }  
        },
        mounted() {
            console.log('Component mounted about.');
        }
    }
</script>