<template>
    <div class="page-login">
        <div id="block-1"  class="container">
            <h1>Вход</h1>
        </div>
        <div id="block-login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <form v-on:submit="submitLogin('login', $event)" data-vv-scope="login" accept-charset="UTF-8" role="form">
                            <div class="form-group">
                                <input v-model="login.email" data-vv-as="E-mail" v-validate="'required|email'" name="email" type="email" class="form-control h53 b2px" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input  v-model="login.password" data-vv-as="Пароль" v-validate="'required'" name="password" type="password" class="form-control h53 b2px" placeholder="Пароль">
                            </div>
                            <button class="btn btn-black w100p h53">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</template>

<script>
    export default {
        inject: ['$validator'],
        data(){
            return {
                loading: false,
                login: {
                    email: '',
                    password: '',
                }
            } 
        },
        methods:{
            submitLogin: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then((result) => {
                    if (result) {
                        this.loading = true;
                        axios.post('/api/v1/login', this.login).then(response => {
                            this.$auth.setToken(
                                response.data.cartalyst_sentinel,
                                JSON.stringify(response.data.user),
                                response.data.expiration,
                            );
                            window.location.href = response.data.redirect;
                            this.loading = false;
                        }).catch(error => {
                            this.$msg.err(error.response.data.error, this.$notify);
                            this.loading = false;
                        });
                    }
                    else
                    {
                        this.$msg.setErrors(this.errors, this.$notify);
                    }
                });
            },
        },
        mounted() {

        }
    }
</script>