<template>
    <div class="page-main">
        <block-top></block-top>
        <block-new></block-new>
        <block-group-week></block-group-week>
        <block-gall></block-gall>
        <block-work></block-work>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                users: null,
            }  
        },
        head: {
            title: {
                inner: 'Головна'
            },
        },
        sockets:{
            connect: function(){
              console.log('socket connected')
            },
            users: function (users) {
                console.log(users);
            },
        },
        methods: {
            
        },
        mounted() {
            
        }
    }
</script>