@font-face {
  font-family: 'icomoon-dor';
  src:  url('../fonts/icomoon-dor.eot?blruqq');
  src:  url('../fonts/icomoon-dor.eot?blruqq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-dor.ttf?blruqq') format('truetype'),
    url('../fonts/icomoon-dor.woff?blruqq') format('woff'),
    url('../fonts/icomoon-dor.svg?blruqq#icomoon-dor') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-dor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-in:before {
  content: "\e900";
}
.icon-enter:before {
  content: "\e901";
}
.ico-rus{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/001-russia.png) no-repeat 0 0 / 100% auto;
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-right: 5px;
    }
}
.ico-eng{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/002-united-kingdom.png) no-repeat 0 0 / 100% auto;
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-right: 5px;
    }
}
.ico-ukr{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/003-ukraine.png) no-repeat 0 0 / 100% auto;
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-right: 5px;
    }
}
.ico-arrow{
    width: 14px;
    height: 8px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -580px -549px;
        width: 14px;
        height: 8px;
        margin-top: 0px;
    }
}
.ico-web{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -226px -508px;
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-web-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -512px -110px;
        width: 10px;
        height: 10px;
        margin-top: 0px;
    }
}
.ico-audio{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -46px -508px;
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-audio-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -512px -140px;
        width: 10px;
        height: 10px;
        margin-top: 0px;
    }
}
.ico-video{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -298px -544px;
        width: 16px;
        height: 16px;
        margin-top: 4px;
    }
}
.ico-video-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -512px -170px;
        width: 10px;
        height: 10px;
        margin-top: 0px;
    }
}
.ico-polygraphy{
    width: 10px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -580px -216px;
        width: 10px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-polygraphy-1{
    width: 10px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -580px -180px;
        width: 10px;
        height: 16px;
        margin-top: 2px;
    }
}
.ico-graphics{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -508px;
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-graphics-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -512px -80px;
        width: 10px;
        height: 10px;
        margin-top: 0px;
    }
}
.ico-photo{
    width: 19px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -153px -464px;
        width: 19px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-photo-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -512px -199px;
        width: 10px;
        height: 10px;
        margin-top: 0px;
    }
}
.ico-3d-models{
    width: 12px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -545px -393px;
        width: 12px;
        height: 16px;
        margin-top: 3px;
    }
}
.ico-3d-models-1{
    width: 10px;
    height: 14px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -580px -252px;
        width: 10px;
        height: 14px;
        margin-top: 2px;
    }
}
.ico-word-press{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -100px -334px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-websites{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -98px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-html5{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -10px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-marketing{
    width: 24px;
    height: 22px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -357px -378px;
        width: 24px;
        height: 22px;
        margin-top: 6px;
    }
}
.ico-cms{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -188px -334px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-eCommerce{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -318px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-muse{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -98px -378px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-ui-design{
    width: 24px;
    height: 20px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -274px -422px;
        width: 24px;
        height: 20px;
        margin-top: 6px;
    }
}
.ico-plugins{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -274px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-music{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -276px -334px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    } 
}
.ico-mus-packages{
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -10px;
        width: 20px;
        height: 24px;
        margin-top: 6px;
    } 
}
.ico-mus-sets{
    width: 21px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -98px;
        width: 21px;
        height: 24px;
        margin-top: 6px;
    } 
}
.ico-logos{
    width: 24px;
    height: 22px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -422px;
        width: 24px;
        height: 22px;
        margin-top: 6px;
    } 
}
.ico-sound-effects{
    width: 19px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -229px;
        width: 19px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-source-files{
    width: 25px;
    height: 13px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -318px -422px;
        width: 25px;
        height: 13px;
        margin-top: 1px;
    }
}
.ico-after-effects-files{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -274px;
        width: 25px;
        height: 24px;
        margin-top: 7px;
    }
}
.ico-apple-motion{
    width: 21px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -230px;
        width: 21px;
        height: 24px;
        margin-top: 7px;
    }
}
.ico-motion-graphics{
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -54px;
        width: 20px;
        height: 24px;
        margin-top: 7px;
    }
}
.ico-futah{
    width: 19px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -185px;
        width: 19px;
        height: 24px;
        margin-top: 4px;
    }
}
.ico-cinema-4D-templates{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -186px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-brochures{
    width: 23px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -229px -378px;
        width: 23px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-business-cards{
    width: 38px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -191px -202px;
        width: 38px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-maps{
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -61px -290px;
        width: 30px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-el-letters{
    width: 21px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -186px;
        width: 21px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Invitations{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -378px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Presentations{
    width: 22px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -54px;
        width: 22px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-resume{
    width: 19px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -141px;
        width: 19px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Sotsmedia{
    width: 37px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -281px -142px;
        width: 37px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Stationery{
    width: 12px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -249px -202px;
        width: 12px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Maps-Invitations{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -142px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Filter{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -55px -334px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-CDs{
    width: 22px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -124px -92px;
        width: 22px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-ePublishing{
    width: 17px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -464px;
        width: 17px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Menu{
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -318px;
        width: 20px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Magazines{
    width: 15px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -47px -464px;
        width: 15px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Packaging{
    width: 27px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -260px -290px;
        width: 27px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Photoalbums{
    width: 21px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -142px;
        width: 21px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Signboards{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -54px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Miscellaneous{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -320px -334px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Set{
    width: 41px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -202px;
        width: 41px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Newspapers{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -65px -246px;
        width: 35px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Leaflets{
    width: 21px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -430px -274px;
        width: 21px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Graphic{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -186px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Vectors{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -54px -378px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Fonts{
    width: 37px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -281px -98px;
        width: 37px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Additions{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -334px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Web-Elements{
    width: 38px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -281px -54px;
        width: 38px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Infographics{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -98px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Abstractions{
    width: 26px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -54px;
        width: 26px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Animals{
    width: 27px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -10px;
        width: 27px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Architecture{
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -339px -230px;
        width: 25px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Art{
    width: 23px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -272px -378px;
        width: 23px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Beauty{
    width: 22px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -315px -378px;
        width: 22px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Business{
    width: 23px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -186px -378px;
        width: 23px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Education{
    width: 38px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -281px -10px;
        width: 38px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Food{
    width: 36px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -281px -186px;
        width: 36px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Health{
    width: 33px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -283px -246px;
        width: 33px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Holidays{
    width: 17px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -405px;
        width: 17px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Industry{
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -98px;
        width: 20px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Nature{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -246px;
        width: 35px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-People{
    width: 31px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -290px;
        width: 31px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Sport{
    width: 41px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -166px -106px;
        width: 41px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Technologies{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -142px -378px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Transport{
    width: 34px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -229px -246px;
        width: 34px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Air{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -120px -246px;
        width: 35px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Interior-Design{
    width: 32px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -229px -114px;
        width: 32px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Elements{
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -161px -290px;
        width: 30px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Auto{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -131px -202px;
        width: 40px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Characters{
    width: 31px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -229px -158px;
        width: 31px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Electronics{
    width: 13px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -82px -464px;
        width: 13px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Furniture{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -71px -202px;
        width: 40px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Jewelry{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') 386px -142px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Lighting{
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -111px -290px;
        width: 30px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Anatomy{
    width: 18px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -317px;
        width: 18px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Military{
    width: 34px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -175px -246px;
        width: 34px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Plants{
    width: 17px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -472px -361px;
        width: 17px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Toys{
    width: 29px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -211px -290px;
        width: 29px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Water-transport{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -10px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Weapons{
    width: 43px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -166px -10px;
        width: 43px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Materials{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -144px -334px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-Textures{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -386px -230px;
        width: 24px;
        height: 24px;
        margin-top: 6px;
    }
}
.ico-search{
    width: 27px;
    height: 27px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/search.svg') no-repeat 0 0;
        width: 31px;
        height: 31px;
        margin-top: 0px;
        margin-left: -3px;
    }
}
.ico-camera{
    width: 27px;
    height: 27px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/camera.svg') no-repeat 0 0;
        width: 31px;
        height: 31px;
        margin-left: 4px;
        margin-top: 5px;
    }
}
.ico-close-f{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -114px -150px;
        width: 32px;
        height: 32px;
        margin-top: 0px;
    }
}
.ico-drag-drop{
    width: 37px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -68px -92px;
        width: 37px;
        height: 32px;
        margin-top: 0px;
    }
}
.ico-work-0{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -166px -150px;
        width: 32px;
        height: 32px;
        margin-top: 0px;
    }
}
.ico-work-1{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -10px -150px;
        width: 32px;
        height: 32px;
        margin-top: 0px;
    }
}
.ico-work-2{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -166px -54px;
        width: 32px;
        height: 32px;
        margin-top: 0px;
    }
}
.ico-login{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -229px -62px;
        width: 32px;
        height: 32px;
        margin-top: 10px;
    }
}
.ico-projects{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -262px -508px;
        width: 16px;
        height: 16px;
        margin-top: 0px;
    }
}
.ico-right{
    width: 10px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -580px -108px;
        width: 10px;
        height: 16px;
        margin-top: 0px;
    }
}
.ico-gear{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/css_sprites.png') -192px -464px;
        width: 16px;
        height: 16px;
        margin-top: 0px;
    }
}

@font-face {
  font-family: 'blk';
  src:  url('../fonts/blk.eot?c7ln0l');
  src:  url('../fonts/blk.eot?c7ln0l#iefix') format('embedded-opentype'),
    url('../fonts/blk.ttf?c7ln0l') format('truetype'),
    url('../fonts/blk.woff?c7ln0l') format('woff'),
    url('../fonts/blk.svg?c7ln0l#blk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="blk-"], [class*=" blk-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blk-uniF101:before {
  content: "\f101";
}
.blk-uniF106:before {
  content: "\f106";
}
.blk-uniF105:before {
  content: "\f105";
}
.blk-uniF104:before {
  content: "\f104";
}
.blk-uniF108:before {
  content: "\f108";
}
.blk-uniF107:before {
  content: "\f107";
}
.blk-uniF103:before {
  content: "\f103";
}
.blk-uniF102:before {
  content: "\f102";
}
.blk-uniF100:before {
  content: "\f100";
}

/*
x
.bg-3D2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -190px -508px;
}

x
.bg-3dmodels {
    width: 12px; height: 16px;
    background: url('css_sprites.png') -545px -393px;
}

x
.bg-3dmodels_s {
    width: 10px; height: 14px;
    background: url('css_sprites.png') -580px -252px;
}

x
.bg-3Dmodels2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -82px -508px;
}

x
.bg-A_Effects {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -339px -274px;
}

x
.bg-A_Motion {
    width: 21px; height: 24px;
    background: url('css_sprites.png') -430px -230px;
}

x
.bg-abstraction {
    width: 26px; height: 24px;
    background: url('css_sprites.png') -339px -54px;
}

x
.bg-add_hoover2 {
    width: 18px; height: 18px;
    background: url('css_sprites.png') -115px -464px;
}

x
.bg-add_too_cart1 {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -10px -544px;
}

x
.bg-adds {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -10px -334px;
}

x
.bg-air_tech {
    width: 35px; height: 24px;
    background: url('css_sprites.png') -120px -246px;
}

x
.bg-anatomy {
    width: 18px; height: 24px;
    background: url('css_sprites.png') -472px -317px;
}

x
.bg-animals {
    width: 27px; height: 24px;
    background: url('css_sprites.png') -339px -10px;
}

x
.bg-architecture {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -339px -230px;
}

x
.bg-arrow {
    width: 16px; height: 10px;
    background: url('css_sprites.png') -82px -578px;
}

x
.bg-arrow_down_s {
    width: 8px; height: 5px;
    background: url('css_sprites.png') -512px -228px;
}

x
.bg-arts {
    width: 23px; height: 24px;
    background: url('css_sprites.png') -272px -378px;
}

x
.bg-ask {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -118px -544px;
}

x
.bg-ask1 {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -190px -544px;
}

x
.bg-audio {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -46px -508px;
}

x
.bg-audio_s {
    width: 10px; height: 10px;
    background: url('css_sprites.png') -512px -140px;
}

x
.bg-auto {
    width: 40px; height: 24px;
    background: url('css_sprites.png') -131px -202px;
}

x
.bg-avatar_noreg {
    width: 40px; height: 40px;
    background: url('css_sprites.png') -106px -10px;
}

x
.bg-avatar_noreg_hoover {
    width: 38px; height: 38px;
    background: url('css_sprites.png') -10px -92px;
}

x
.bg-avatar_noreg2 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -229px -62px;
}

x
.bg-basket {
    width: 12px; height: 16px;
    background: url('css_sprites.png') -545px -429px;
}

x
.bg-basket2 {
    width: 12px; height: 16px;
    background: url('css_sprites.png') -545px -465px;
}

x
.bg-bell {
    width: 14px; height: 16px;
    background: url('css_sprites.png') -545px -221px;
}

x
.bg-bell2 {
    width: 14px; height: 16px;
    background: url('css_sprites.png') -545px -185px;
}

x
.bg-boat {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -10px;
}

x
.bg-bord {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -54px;
}

x
.bg-broshura {
    width: 23px; height: 24px;
    background: url('css_sprites.png') -229px -378px;
}

x
.bg-bussines {
    width: 23px; height: 24px;
    background: url('css_sprites.png') -186px -378px;
}

x
.bg-calebrete {
    width: 17px; height: 24px;
    background: url('css_sprites.png') -472px -405px;
}

x
.bg-cancel1 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -114px -150px;
}

x
.bg-cansel {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -62px -150px;
}

x
.bg-cart {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -46px -544px;
}

x
.bg-cart2 {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -154px -544px;
}

x
.bg-carts_and {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -339px -142px;
}

x
.bg-cd_dvd {
    width: 22px; height: 24px;
    background: url('css_sprites.png') -124px -92px;
}

x
.bg-chains {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -444px -464px;
}

x
.bg-characters {
    width: 31px; height: 24px;
    background: url('css_sprites.png') -229px -158px;
}

x
.bg-check1 {
    width: 6px; height: 6px;
    background: url('css_sprites.png') -512px -253px;
}

x
.bg-Cinema {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -339px -186px;
}

x
.bg-clip {
    width: 8px; height: 16px;
    background: url('css_sprites.png') -580px -485px;
}

x
.bg-clip_horisontal1 {
    width: 20px; height: 11px;
    background: url('css_sprites.png') -363px -422px;
}

x
.bg-clip1 {
    width: 8px; height: 16px;
    background: url('css_sprites.png') -580px -449px;
}

x
.bg-CMS {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -188px -334px;
}

x
.bg-comment2 {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -82px -544px;
}

x
.bg-down {
    width: 14px; height: 8px;
    background: url('css_sprites.png') -580px -549px;
}

x
.bg-down2 {
    width: 16px; height: 10px;
    background: url('css_sprites.png') -10px -578px;
}

x
.bg-download2 {
    width: 16px; height: 11px;
    background: url('css_sprites.png') -403px -422px;
}

x
.bg-drag&drop_img {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -98px -422px;
}

x
.bg-drag_drop1 {
    width: 36px; height: 32px;
    background: url('css_sprites.png') -68px -92px;
}

x
.bg-eCommerce {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -318px;
}

x
.bg-education {
    width: 38px; height: 24px;
    background: url('css_sprites.png') -281px -10px;
}

x
.bg-electronic {
    width: 13px; height: 24px;
    background: url('css_sprites.png') -82px -464px;
}

x
.bg-emeils {
    width: 21px; height: 24px;
    background: url('css_sprites.png') -430px -186px;
}

x
.bg-epublish {
    width: 17px; height: 24px;
    background: url('css_sprites.png') -10px -464px;
}

x
.bg-Exchange1 {
    width: 28px; height: 62px;
    background: url('css_sprites.png') -58px -10px;
}

x
.bg-Exchange2 {
    width: 28px; height: 62px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-eye_w2 {
    width: 16px; height: 8px;
    background: url('css_sprites.png') -118px -578px;
}

x
.bg-fashion {
    width: 22px; height: 24px;
    background: url('css_sprites.png') -315px -378px;
}

x
.bg-fb {
    width: 9px; height: 15px;
    background: url('css_sprites.png') -580px -350px;
}

x
.bg-fb1 {
    width: 9px; height: 15px;
    background: url('css_sprites.png') -580px -286px;
}

x
.bg-fb2 {
    width: 9px; height: 15px;
    background: url('css_sprites.png') -580px -414px;
}

x
.bg-filter {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -55px -334px;
}

x
.bg-follow {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -118px -508px;
}

x
.bg-fonts {
    width: 37px; height: 24px;
    background: url('css_sprites.png') -281px -98px;
}

x
.bg-foto_albom {
    width: 21px; height: 24px;
    background: url('css_sprites.png') -430px -142px;
}

x
.bg-futag {
    width: 19px; height: 24px;
    background: url('css_sprites.png') -472px -185px;
}

x
.bg-g {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -545px -150px;
}

x
.bg-G+ {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -298px -508px;
}

x
.bg-g+2 {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -545px -115px;
}

x
.bg-gear {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -370px -508px;
}

x
.bg-gear1 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -192px -464px;
}

x
.bg-google1 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -336px -464px;
}

x
.bg-graphcs {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -186px;
}

x
.bg-graphik {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -10px -508px;
}

x
.bg-graphik_s {
    width: 10px; height: 10px;
    background: url('css_sprites.png') -512px -80px;
}

x
.bg-hard {
    width: 20px; height: 23px;
    background: url('css_sprites.png') -472px -98px;
}

x
.bg-hdri2 {
    width: 16px; height: 12px;
    background: url('css_sprites.png') -334px -544px;
}

x
.bg-health {
    width: 33px; height: 24px;
    background: url('css_sprites.png') -283px -246px;
}

x
.bg-HTML_hoover {
    width: 22px; height: 24px;
    background: url('css_sprites.png') -430px -10px;
}

x
.bg-HTML_s {
    width: 15px; height: 16px;
    background: url('css_sprites.png') -442px -508px;
}

x
.bg-icon_project3 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -166px -54px;
}

x
.bg-icon_project22 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -166px -150px;
}

x
.bg-icon_project23 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -10px -150px;
}

x
.bg-infograph {
    width: 25px; height: 24px;
    background: url('css_sprites.png') -339px -98px;
}

x
.bg-inreion_elements {
    width: 30px; height: 24px;
    background: url('css_sprites.png') -161px -290px;
}

x
.bg-ins {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -545px -45px;
}

x
.bg-inst2 {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -545px -10px;
}

x
.bg-interion {
    width: 32px; height: 24px;
    background: url('css_sprites.png') -229px -114px;
}

x
.bg-invitation {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -10px -378px;
}

x
.bg-juverly {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -142px;
}

x
.bg-kanceliar {
    width: 12px; height: 24px;
    background: url('css_sprites.png') -249px -202px;
}

x
.bg-left1 {
    width: 10px; height: 16px;
    background: url('css_sprites.png') -580px -144px;
}

x
.bg-light {
    width: 30px; height: 24px;
    background: url('css_sprites.png') -111px -290px;
}

x
.bg-like_w2 {
    width: 11px; height: 10px;
    background: url('css_sprites.png') -512px -50px;
}

x
.bg-linkedin {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -545px -80px;
}

x
.bg-linkedin2 {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -477px -508px;
}

x
.bg-lists {
    width: 21px; height: 24px;
    background: url('css_sprites.png') -430px -274px;
}

x
.bg-lock_hoover2 {
    width: 20px; height: 24px;
    background: url('css_sprites.png') -430px -362px;
}

x
.bg-login {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -406px -508px;
}

x
.bg-login_black {
    width: 13px; height: 13px;
    background: url('css_sprites.png') -545px -501px;
}

x
.bg-login_hoover {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -228px -464px;
}

x
.bg-login1 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -264px -464px;
}

x
.bg-login2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -300px -464px;
}

x
.bg-logos {
    width: 24px; height: 22px;
    background: url('css_sprites.png') -10px -422px;
}

x
.bg-logout {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -372px -464px;
}

x
.bg-logout_hoover {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -408px -464px;
}

x
.bg-lowpoly3 {
    width: 16px; height: 10px;
    background: url('css_sprites.png') -46px -578px;
}

x
.bg-m_kits {
    width: 21px; height: 24px;
    background: url('css_sprites.png') -430px -98px;
}

x
.bg-m_packs {
    width: 20px; height: 24px;
    background: url('css_sprites.png') -472px -10px;
}

x
.bg-magazins {
    width: 15px; height: 24px;
    background: url('css_sprites.png') -47px -464px;
}

x
.bg-mail {
    width: 16px; height: 12px;
    background: url('css_sprites.png') -370px -544px;
}

x
.bg-mail2 {
    width: 16px; height: 12px;
    background: url('css_sprites.png') -406px -544px;
}

x
.bg-map {
    width: 30px; height: 24px;
    background: url('css_sprites.png') -61px -290px;
}

x
.bg-Marketing_ {
    width: 24px; height: 22px;
    background: url('css_sprites.png') -357px -378px;
}

x
.bg-material {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -144px -334px;
}

x
.bg-meal {
    width: 36px; height: 24px;
    background: url('css_sprites.png') -281px -186px;
}

x
.bg-menu {
    width: 20px; height: 24px;
    background: url('css_sprites.png') -430px -318px;
}

x
.bg-more {
    width: 22px; height: 6px;
    background: url('css_sprites.png') -442px -544px;
}

x
.bg-motion_f {
    width: 20px; height: 24px;
    background: url('css_sprites.png') -472px -54px;
}

x
.bg-muse {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -98px -378px;
}

x
.bg-music {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -276px -334px;
}

x
.bg-nature {
    width: 35px; height: 24px;
    background: url('css_sprites.png') -10px -246px;
}

x
.bg-newspaper {
    width: 35px; height: 24px;
    background: url('css_sprites.png') -65px -246px;
}

x
.bg-other {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -320px -334px;
}

x
.bg-packs {
    width: 27px; height: 24px;
    background: url('css_sprites.png') -260px -290px;
}

x
.bg-people {
    width: 31px; height: 24px;
    background: url('css_sprites.png') -10px -290px;
}

x
.bg-photo {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -186px -422px;
}

x
.bg-photo_hoover {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -142px -422px;
}

x
.bg-photo_hoover3 {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -54px -422px;
}

x
.bg-photo_navbar {
    width: 19px; height: 16px;
    background: url('css_sprites.png') -153px -464px;
}

x
.bg-photo_s {
    width: 10px; height: 9px;
    background: url('css_sprites.png') -512px -199px;
}

x
.bg-photo2 {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -230px -422px;
}

x
.bg-pinterst {
    width: 13px; height: 15px;
    background: url('css_sprites.png') -545px -358px;
}

x
.bg-pinterst2 {
    width: 13px; height: 15px;
    background: url('css_sprites.png') -545px -323px;
}

x
.bg-plants {
    width: 17px; height: 24px;
    background: url('css_sprites.png') -472px -361px;
}

x
.bg-Plugins {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -274px;
}

x
.bg-polygraph {
    width: 10px; height: 16px;
    background: url('css_sprites.png') -580px -216px;
}

x
.bg-polygraph_s {
    width: 10px; height: 16px;
    background: url('css_sprites.png') -580px -180px;
}

x
.bg-presentation {
    width: 22px; height: 24px;
    background: url('css_sprites.png') -430px -54px;
}

x
.bg-projects {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -334px -508px;
}

x
.bg-projects2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -262px -508px;
}

x
.bg-public_hoover2 {
    width: 18px; height: 24px;
    background: url('css_sprites.png') -472px -273px;
}

x
.bg-resume {
    width: 19px; height: 24px;
    background: url('css_sprites.png') -472px -141px;
}

x
.bg-right_arrow2 {
    width: 13px; height: 20px;
    background: url('css_sprites.png') -512px -10px;
}

x
.bg-right_s2 {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -262px -544px;
}

x
.bg-right1 {
    width: 10px; height: 16px;
    background: url('css_sprites.png') -580px -108px;
}

x
.bg-rigth_all {
    width: 10px; height: 16px;
    background: url('css_sprites.png') -580px -72px;
}

x
.bg-search {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -232px -334px;
}

x
.bg-set {
    width: 41px; height: 24px;
    background: url('css_sprites.png') -10px -202px;
}

x
.bg-sochialmedia {
    width: 37px; height: 24px;
    background: url('css_sprites.png') -281px -142px;
}

x
.bg-sofa {
    width: 40px; height: 24px;
    background: url('css_sprites.png') -71px -202px;
}

x
.bg-sound_effects {
    width: 19px; height: 24px;
    background: url('css_sprites.png') -472px -229px;
}

x
.bg-source {
    width: 25px; height: 13px;
    background: url('css_sprites.png') -318px -422px;
}

x
.bg-sport {
    width: 41px; height: 24px;
    background: url('css_sprites.png') -166px -106px;
}

x
.bg-tech {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -142px -378px;
}

x
.bg-texture {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -230px;
}

x
.bg-texture3 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -154px -508px;
}

x
.bg-toy {
    width: 29px; height: 24px;
    background: url('css_sprites.png') -211px -290px;
}

x
.bg-transport {
    width: 34px; height: 24px;
    background: url('css_sprites.png') -229px -246px;
}

x
.bg-tw {
    width: 15px; height: 13px;
    background: url('css_sprites.png') -545px -290px;
}

x
.bg-tw2 {
    width: 15px; height: 13px;
    background: url('css_sprites.png') -545px -257px;
}

x
.bg-UI_Design {
    width: 24px; height: 20px;
    background: url('css_sprites.png') -274px -422px;
}

x
.bg-UI_Design_s {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -226px -544px;
}

x
.bg-up_active {
    width: 14px; height: 8px;
    background: url('css_sprites.png') -580px -521px;
}

x
.bg-up_arrow1 {
    width: 32px; height: 32px;
    background: url('css_sprites.png') -229px -10px;
}

x
.bg-v_card {
    width: 38px; height: 24px;
    background: url('css_sprites.png') -191px -202px;
}

x
.bg-vectors {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -54px -378px;
}

x
.bg-Video {
    width: 16px; height: 14px;
    background: url('css_sprites.png') -298px -544px;
}

x
.bg-Video_s {
    width: 10px; height: 9px;
    background: url('css_sprites.png') -512px -170px;
}

x
.bg-vk {
    width: 15px; height: 9px;
    background: url('css_sprites.png') -580px -321px;
}

x
.bg-vk2 {
    width: 15px; height: 9px;
    background: url('css_sprites.png') -580px -385px;
}

x
.bg-wapeon {
    width: 43px; height: 24px;
    background: url('css_sprites.png') -166px -10px;
}

x
.bg-war_tech {
    width: 34px; height: 24px;
    background: url('css_sprites.png') -175px -246px;
}

x
.bg-web {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -226px -508px;
}

x
.bg-web_s {
    width: 10px; height: 10px;
    background: url('css_sprites.png') -512px -110px;
}

x
.bg-webelements {
    width: 38px; height: 24px;
    background: url('css_sprites.png') -281px -54px;
}

x
.bg-Websites {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -386px -98px;
}

x
.bg-WordPress {
    width: 24px; height: 24px;
    background: url('css_sprites.png') -100px -334px;
}

x
.bg-youtube {
    width: 15px; height: 11px;
    background: url('css_sprites.png') -580px -41px;
}

x
.bg-youtube2 {
    width: 15px; height: 11px;
    background: url('css_sprites.png') -580px -10px;
}*/