
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";
@import "icons";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('/themes/site/assets/fonts/topcat/style.css');

@font-face {
                font-family: "GothamProRegular";
                src: url("../fonts/GothamProRegular/GothamProRegular.eot");
                src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
                url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProBold";
                src: url("../fonts/GothamProBold/GothamProBold.eot");
                src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
                url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProBlack";
                src: url("../fonts/GothamProBlack/GothamProBlack.eot");
                src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
                url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProItalic";
                src: url("../fonts/GothamProItalic/GothamProItalic.eot");
                src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
                url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProMedium";
                src: url("../fonts/GothamProMedium/GothamProMedium.eot");
                src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
                url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProLight";
                src: url("../fonts/GothamProLight/GothamProLight.eot");
                src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
                url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProMediumItalic";
                src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
                src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
                url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProLightItalic";
                src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
                src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
                url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProBoldItalic";
                src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
                src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
                url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}

@font-face {
                font-family: "GothamProBlackItalic";
                src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
                src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
                url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
                url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
}


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin responsive($class) {
   
   @if $class == xs480 {
    @media (min-width: 480px) and (max-width: 540px) {@content;}
  } 
    
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
b{
    font-family: "GothamProBold";
    font-weight: normal;
}
.h53{
    height: 53px;
}
.b2px{
    border: 2px solid #B5B5B5;
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px 'GothamProRegular', sans-serif !important;
    height: 100%;
    background: #fff !important;
    color: #212121 !important;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#app{
    min-height: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    min-height: 350px;
    &.front-header{
        background: #ccc url(../img/bg_img1.png) no-repeat top center;
        background-size: cover;
    }
    &.profile-header{
        background: #ccc url(../img/fon2.jpg) no-repeat top center;
        background-size: cover;
    }
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -100px auto 0;
    min-width: 320px;
    min-height: 100px;
    position: relative;
    background: #fff;
    padding-top: 40px;
}
a:hover,
a:active,
a:focus{
    outline: none !important;
    color: #b71c1c;
}
a{
    color: #b71c1c;
}
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}
/*
 *
 */
#header-top{
    min-height: 30px;
    background: #212121;
    color: #bdbdbd;
    a{
        color: #bdbdbd;
        &:hover,&:focus{
            color: #fff;
            text-decoration: none;
        }
    }
}
#social-nav{
    a{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin-right: 20px;
    }
}
#top-nav{
    a{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-family: "GothamProLight";
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        &:hover,&:focus{
            border-bottom: 1px solid #fff;
        }
    }
    &.top-nav-uk{
        a{
            margin-right: 21px !important;
            &:last-child{
                margin-right: 0 !important;
            }
        }
    }
    &.top-nav-en{
        a{
            margin-right: 28px !important;
            &:last-child{
                margin-right: 0 !important;
            }
        }
    }
    &.top-nav-ru{
        a{
            margin-right: 17px !important;
            &:last-child{
                margin-right: 0 !important;
            }
        }
    }
}
#header-center{
    background-color: rgba(75, 73, 73, 0.85);
    min-height: 80px;
}
#logo{
    display: block;
    background: url(../img/logo_white.png) no-repeat 0 0;
    height: 80px;
    width: 95px;
    text-indent: -9999px;
}
#header-catalog{
    min-height: 30px;
    background: #212121;
    color: #bdbdbd;
    margin: 0 -15px;
}
#change-lang{
    float: right;
    .current{
        display: block;
        font-family: "GothamProMedium";
        height: 30px;
        line-height: 30px;
        position: relative;
        i{
            margin-right: 5px;
        }
    }
    .dropdown-menu{
        @include border-radius(0px);
        min-width: 83px;
        li{
            width: 80px;
            a{
                position: relative;
                color: #000;
            }
        }
    }
}
#nav-category{
    a{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
        padding: 0 15px;
        &:hover,&:focus{
            color: #fff;
            text-decoration: none;
            background: #646564;
        }
        .ico-cat{
            margin-right: 5px;
        }
    }
    &.nav-category-uk{
        a{
            padding: 0px 35.29px;
        }
    }
    &.nav-category-en{
        a{
            padding: 0 31.65px;
        }
    }
    &.nav-category-ru{
        a{
            padding: 0 33.64px;
        }
    }
}
#header-sub-catalog{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    .sub-cat{
        background: #fff;
        padding: 15px;
        
        a{
            color: #212121;
            font-family: 'GothamProRegular';
            font-size: 11px;
            font-weight: 900;
            line-height: 2;
            opacity: 0.7;
            text-align: left;
            text-decoration: none;
            transition: all 0.1s ease-in 0s;
            display: block;
            padding: 15px 5px;
            white-space: nowrap;
            .ico-sub-cat{
                margin-right: 5px;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0
}
#block-find{
    margin-top: 150px;
    .input-group-lg{
        @include border-radius(0px);
        height: 55px;
        border: 2px solid rgba(0, 0, 0, 0.6);
        .form-control{
            background-color: rgba(239, 239, 239, 0.8);
            height: 55px;
            @include border-radius(0px);
            border: none;
            box-shadow: none;
        }
        .input-group-find{
            @include border-radius(0px);
            background: #F8D234;
            border-color: #F8D234;
            cursor: pointer;
        }
        .input-group-camera{
            @include border-radius(0px);
            background-color: rgba(239, 239, 239, 0.8);
            border-color: transparent;
            cursor: pointer;
        }
        .input-group-addon-select{
            background-color: rgba(239, 239, 239, 0.8);
            padding: 0 15px;
            border: none;
            .btn-group{
                height: 55px;
                .btn-default{
                    height: 55px;
                    background: transparent;
                    border: none;
                    width: 170px;
                    @include border-radius(0px);
                    &:active,
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .rl{
                position: absolute;
                width: 1px;
                background: rgba(33, 33, 33, 0.7);
                height: 35px;
                margin-top: 10px;
                margin-left: -15px;
            }
            .btn-group.open{
                .btn-default{
                    box-shadow: none;
                    &:active,
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .dropdown-menu{
                @include border-radius(0px);
                margin: 0 0 0 -15px;
                border: 1px solid #000;
                width: 200px;
                a{
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
#find-with-photo{
    position: absolute;
    background: #fff;
    padding: 15px;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    margin-top: 140px;
    z-index: 100;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    .close-f{
        position: absolute;
        right: 0;
        margin-right: 15px;
    }
    .info{
        font-size: 11px;
        color: #646564;
    }
    .select-foto{
        text-align: center;
        margin-bottom: 15px;
    }
}
.h2-sm{
    font-size: 18px;
}
.m-t-0{
    margin-top: 0 !important;
}
#drop-zone{
    background: #f1f1f1;
    padding: 50px 200px;
    border: 2px dashed #ccc;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.btn{
    @include border-radius(0px);
    transition: all 0.2s ease-in 0s;
}
.btn-default{
    border: 1px solid #212121;
    padding: 13px 37px;
    &:hover,&:focus{
        background: #212121;
        color: #fff;
        border: 1px solid #212121;
    }
}
.btn-up{
    font-size: 14px;
    text-transform: uppercase;
}
.logo-bottom{
    background: url(../img/logo_grey.png) no-repeat 0 0;
    width: 95px;
    height: 80px;
    display: block;
}
.social-nav{
    float: right;
    a{
        color: #212121;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        i{
            font-size: 15px;
        }
        &:hover{
            color: #F8D234;
        }
    }
}
.bottom-nav{
    a{
        color: #212121;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        &:hover, &:focus{
            color: #212121;
            text-decoration: none;
            border-bottom: 1px solid #F8D234;
        }
    }
}
#block-top{
    padding-top: 70px;
    margin-bottom: 70px;
    h2{
        font-family: "GothamProBlack";
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .ln{
        border-top: 1px solid #212121;
        margin: 5px 0;
        width: 30px;
        display: block;
    }
    h3{
        font-weight: normal;
        font-family: "GothamProRegular";
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .ava{
        display: block;
        width: 36px;
        height: 36px;
        position: relative;
        margin-right: 20px;
        display: inline-block;
    }
    h4{
        display: inline;
        font-family: "GothamProMedium";
        font-size: 16px;
        margin: 10px 0 0 0;
        position: absolute;
        a{
            color: #212121;
        }
    }
    .fotos{
        a{
            float: left;
            background: #000;
            display: block;
            width: 90px;
            height: 85px;
            img{
                transition: all 0.2s ease-in 0s;
                max-height: 85px;
                max-width: 90px;
                min-width: 90px;
            }
            img:hover{
                opacity: 0.5;
            }
        }
    }
    .position{
        background: url(../img/main_w.png) no-repeat 0 0 / cover;
        min-width: 157px;
        min-height: 170px;
        text-align: center;
        span{
            font-size: 30px;
            display: block;
            padding-top: 75px;
            margin-bottom: 5px;
        }
        p{
            font-size: 16px;
            text-transform: lowercase;
            &:first-letter{
                text-transform: lowercase;
            }
        }
    }
    .flag{
        position: absolute;
        background: #B71C1C;
        width: 90px;
        height: 110px;
        -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 80%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 80%, 0 100%, 0 0);
        right: 0;
        margin-right: 15px;
        margin-top: -45px;
        span{
            font-size: 24px;
            color: #fff;
            text-align: center;
            margin-top: 35px;
            margin-bottom: 20px;
            display: block;
        }
    }
    .statistic{
        padding-top: 10px;
        .sts{
            white-space: nowrap;
            color: #797979;
            font-size: 11px;
            overflow: hidden;
            float: left;
            margin-right: 10px; 
            &:last-child{
                margin-right: 0;
            }
            i{
                font-size: 13px;
            }
        }
    }
    .btn-shop{
        width: 100%;
        height: 22px;
        padding: 2px 15px;
        margin-top: 8px;
    }
    .buttons{
        padding-top: 50px;
    }
}
.p-r-0{
    padding-right: 0;
}
.p-l-0{
    padding-left: 0;
}
.btn-shop{
    background: transparent;
    border: 1px solid #656565;
    font-size: 10px;
    text-transform: uppercase;
    color: #656565;
    &:hover, &:focus{
        background: #656565;
        color: #fff;
    }
}
#block-new{
    padding-top: 70px;
    margin-bottom: 70px;
    h2{
        font-family: "GothamProBlack";
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .ln{
        border-top: 1px solid #212121;
        margin: 5px 0;
        width: 30px;
        display: block;
    }
    h3{
        font-weight: normal;
        font-family: "GothamProRegular";
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .thm{
        min-height: 160px;
        max-height: 160px;
        margin-bottom: 10px;
        .thm-left{
            background: #212121;
            position: relative;
            float: left;
            width: 45px;
            min-height: 160px;
        }
        .thm-rigth{
            background: #ccc;
            min-height: 160px;
            width: 82.8%;
            position: relative;
            float: left;
            img{
                max-height: 160px;
            }
        }
        .infos{
            margin: 0;
            li{
                list-style: none;
                margin-bottom: 0;
                .cat{
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 5px 0;
                    font-family: "GothamProMedium";
                    &.cat-midi{
                        background: #fd5503;
                    }
                    &.cat-maxi{
                        background: #d00e09;
                    }
                    &.cat-mini{
                        background: #60a80d;
                    }
                    &.cat-ultra{
                        background: #37c0ca;
                        font-size: 10px;
                    }
                    &.cat-free{
                        background: #989f9f;
                    }
                }
                .ic{
                    color: #fff;
                    text-align: center;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 3px 0 !important;
                    font-family: "GothamProMedium";
                    line-height: 1.2;
                }
            }
        }
    }
    .thm-2{
        .thm-left{
            position: relative;
            float: left;
            width: 80%;
            padding-right: 15px;
        }
        .thm-rigth{
            position: relative;
            float: right;
            width: 20%;
            text-align: right;
        }
        .price{
            font-size: 18px;
            white-space: nowrap;
        }
        h3{
            font-family: "GothamProMedium";
            font-size: 14px;
            margin: 0 0 2px 0;
        }
        h4{
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }
    }
    .line{
        height: 3px;
        width: 70%;
        background: #1D1D7E;
        position: absolute;
        top: 0;
        right: 0;
    }
    .buttons{
        padding-top: 50px;
    }
}
.m-b-20{
    margin-bottom: 20px;
}
.w100p{
    width: 100%;
}
.btn-yelow{
    background: #FEEA3B;
    color: #212121;
    padding: 13px 37px;
    border-bottom: 1px solid #a8980b;
    &:hover,&:focus{
        background: #FEEA3B;
        color: #212121;
    }
}
.tup{
    text-transform: uppercase;
}
#block-group-week{
    padding-top: 70px;
    margin-bottom: 70px;
    h2{
        font-family: "GothamProBlack";
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .ln{
        border-top: 1px solid #212121;
        margin: 5px 0;
        width: 30px;
        display: block;
    }
    h3{
        font-weight: normal;
        font-family: "GothamProRegular";
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .in{
        width: 227px;
        &.in-0{
            float: left;
        }
        &.in-1{
            margin: 0 auto;
        }
        &.in-2{
           float: right;
        }
    }
    .title{
        font-family: 'GothamProMedium';
        font-size: 20px;
        margin-bottom: 10px;
    }
    .bg-group{
        margin-bottom: 20px;
        img{
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            @include border-radius(10px);
        }
    }
    .descr{
        padding: 10px 0 10px 0;
        font-size: 14px;
    }
    .pipls{
        border: 1px solid black;
        text-transform: uppercase;
        padding: 5px 10px;
        color: #212121;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        span{
            font-family: 'GothamProBold';
            font-size: 14px;
        }
    }
    .users{
        padding-top: 20px;
        .ava{
            width: 36px;
            height: 36px;
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .buttons{
        padding-top: 50px;
    }
}
#block-gall{
    padding-top: 70px;
    margin-bottom: 70px;
    h2{
        font-family: "GothamProBlack";
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .ln{
        border-top: 1px solid #212121;
        margin: 5px 0;
        width: 30px;
        display: block;
    }
    h3{
        font-weight: normal;
        font-family: "GothamProRegular";
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .thm{
        min-height: 160px;
        max-height: 160px;
        margin-bottom: 10px;
        .thm-left{
            background: #212121;
            position: relative;
            float: left;
            width: 45px;
            min-height: 160px;
        }
        .thm-rigth{
            background: #ccc;
            min-height: 160px;
            width: 82.8%;
            position: relative;
            float: left;
            img{
                max-height: 160px;
            }
        }
        .infos{
            margin: 0;
            li{
                list-style: none;
                margin-bottom: 0;
                .cat{
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 5px 0;
                    font-family: "GothamProMedium";
                    &.cat-midi{
                        background: #fd5503;
                    }
                    &.cat-maxi{
                        background: #d00e09;
                    }
                    &.cat-mini{
                        background: #60a80d;
                    }
                    &.cat-ultra{
                        background: #37c0ca;
                        font-size: 10px;
                    }
                    &.cat-free{
                        background: #989f9f;
                    }
                }
                .ic{
                    color: #fff;
                    text-align: center;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 6px 0 !important;
                    font-family: "GothamProMedium";
                    line-height: 1.2;
                }
            }
        }
    }
    .thm-2{
        .thm-left{
            position: relative;
            float: left;
            width: 80%;
            padding-right: 15px;
        }
        .thm-rigth{
            position: relative;
            float: right;
            width: 20%;
            text-align: right;
        }
        .price{
            font-size: 18px;
            white-space: nowrap;
        }
        h3{
            font-family: "GothamProMedium";
            font-size: 14px;
            margin: 0 0 2px 0;
        }
        h4{
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }
    }
    .line{
        height: 3px;
        width: 70%;
        background: #1D1D7E;
        position: absolute;
        top: 0;
        right: 0;
    }
    .buttons{
        padding-top: 50px;
    }
}
#block-work{
    padding-top: 70px;
    padding-bottom: 70px;
    background: url(../img/bg2.jpg) no-repeat right top / cover;
    h2{
        font-family: "GothamProBlack";
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: normal;
    }
    .ln{
        border-top: 1px solid #212121;
        margin: 5px 0;
        width: 30px;
        display: block;
    }
    h3{
        font-weight: normal;
        font-family: "GothamProRegular";
        font-size: 20px;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .frilances-list{
        li{
            list-style: none;
            padding: 10px;
            background: #353535;
            color: #fff;
            font-size: 10px;
            margin-bottom: 10px;
            a{
                color: #fff;
            }
            h4{
                margin: 0;
                font-family: "GothamProMedium";
                font-size: 10px;
            }
            p{
                margin-bottom: 0;
                span{
                    font-family: "GothamProMedium";
                }
            }
        }
    }
    .line1{
        height: 80px;
        border-left: 1px solid #5a5c5d;
        margin-left: -15px;
        margin-top: -10px;
    }
    .sqr{
        width: 5px;
        height: 5px;
        background: #5a5c5d;
        margin-left: -15px;
        margin-top: -5px;
    }
    .txt{
        font-size: 20px;
        white-space: nowrap;
        margin-top: -12px;
    }
    .txt2{
        font-size: 20px;
        white-space: nowrap;
        position: absolute;
        margin-top: -7px;
    }
    .sqr2{
        width: 5px;
        height: 5px;
        background: #5a5c5d;
        margin-left: -15px;
    }
    .line2{
        height: 80px;
        border-left: 1px solid #5a5c5d;
        margin-left: -15px;
    }
    .work-list{
        li{
            list-style: none;
            padding: 10px;
            background: #353535;
            color: #fff;
            font-size: 10px;
            margin-bottom: 10px;
            a{
                color: #fff;
            }
            h4{
                margin: 0;
                font-family: "GothamProMedium";
                font-size: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                margin-bottom: 0;
                span{
                    font-family: "GothamProMedium";
                }
            }
        }
    }
    .buttons{
        padding-top: 50px;
    }
}
.p-15{
    padding: 15px;
}
#user-panel{
    float: right;
    
}
#block-login{
    .lg{
        padding-top: 15px;
        a{
            color: #fff;
            font-size: 14px;
            display: inline-block;
            i{
                margin-right: 10px;
            }
        }
    }
    
}
.blurBody{
    #app{
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
}
.bgpop{
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.65;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.login-pop-mask{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.5;
}
.login-pop-up{
    position: fixed;
    overflow: auto;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .login-pop-up-cont .row{
        z-index: 1050;
        position: relative;
    }
    .close-btn{
        padding: 50px;
        text-align: right;
        position: relative;
        z-index: 1050;
    }
    .v-line{
        width: 1px;
        border-left: 1px solid;
        height: 340px;
        margin: 0 auto;
    }
}

#login-form{
    .lbl{
        font-size: 20px;
        display: block;
        margin-bottom: 25px;
    }
    .form-group{
        margin-bottom: 25px;
    }
    .btn-default{
        width: 100%;
        background: transparent;
        text-transform: uppercase;
    }
    .butons{
        margin-bottom: 25px;
        font-size: 14px;
    }
    .forgot{
        display: block;
        margin: 10px 0;
        color: #000;
    }
}
.form-inp{
    height: 45px;
    line-height: 45px;
    background: transparent;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 0 15px;
    &:focus{
        background: transparent;
        outline:none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.001) inset !important;
    background-color: rgba(255, 255, 255, 0.001) !important;
}

.checkbox-1{
    input{
        display: none;
    }
    i{
        display: inline-block;
        position: relative;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        position: absolute;
        margin-top: 1px;
    }
    input:checked + i:before{
        content: "";
        width: 9px;
        height: 9px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2px;
        margin-left: 2px;
    }
    span{
        padding-left: 25px;
    }
}
.m-b-0{
    margin-bottom: 0 !important;
}
.btn-trans{
    background: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 13px 37px;
    span{
        font-family: 'GothamProMedium';
    }
    &:hover,&:focus{
        background: transparent;
        color: #000;
    }
}
.login-soc{
    .lbl{
        font-size: 20px;
        display: block;
        margin-bottom: 40px;
    }
    .btn-trans{
        margin-bottom: 40px;
    }
    .btn-facebook{
        margin-bottom: 40px;
    }
}
.btn-facebook{
    background: rgb(50, 83, 150);
    border: 1px solid rgb(50, 83, 150);
    color: #fff;
    padding: 13px 37px;
    span{
        font-family: 'GothamProMedium';
    }
    &:hover,&:focus{
        background: rgb(50, 83, 150);
        color: #fff;
    }
}
.btn-google{
    background: #EA4335;
    border: 1px solid #EA4335;
    color: #fff;
    padding: 13px 37px;
    span{
        font-family: 'GothamProMedium';
    }
    &:hover,&:focus{
        background: #EA4335;
        color: #fff;
    }
}
#register-form{
    .lbl{
        font-size: 20px;
        display: block;
        margin-bottom: 25px;
    }
    .form-group{
        margin-bottom: 25px;
    }
    .btn-default{
        width: 100%;
        background: transparent;
        text-transform: uppercase;
    }
    .butons{
        margin-bottom: 25px;
        font-size: 14px;
    }
    .forgot{
        display: block;
        margin: 10px 0;
        color: #000;
    }
}
#reminder-form,
#forgot-form{
    .lbl{
        font-size: 20px;
        display: block;
        margin-bottom: 25px;
    }
    .form-group{
        margin-bottom: 25px;
    }
    .btn-default{
        width: 100%;
        background: transparent;
        text-transform: uppercase;
    }
    .butons{
        margin-bottom: 25px;
        font-size: 14px;
    }
    .forgot{
        display: block;
        margin: 10px 0;
        color: #000;
    }
}
.has-error{
    .form-inp{
        border-bottom: 1px solid #EA4335;
    }
}
#block-user{
    width: 100px;
    float: right;
    padding-top: 20px;
    .ava{
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    .balans{
        font-size: 10px;
        padding-top: 15px;
        color: #fff;
    }
    .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        margin-left: -55px;
        li{
            a{
                color: #fff;
                &:hover,&:focus{
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
}
.dropdown-menu{
    @include border-radius(0px);
}
#block-mess{
    float: right;
    margin-right: 50px;
    padding-top: 35px;
    position: relative;
    .mess{
        color: #fff;
        i{
            font-size: 14px;
            .badge{
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                background: red;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: -12px;
                margin-right: -15px;
                font-family: 'GothamProRegular';
                padding: 4px 6px;
            }
        }
    }
}
#block-notify{
    float: right;
    margin-right: 50px;
    padding-top: 35px;
    position: relative;
    .notify{
        color: #fff;
        i{
            font-size: 14px;
            .badge{
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                background: red;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: -12px;
                margin-right: -15px;
                font-family: 'GothamProRegular';
                padding: 4px 6px;
            }
        }
    }
}
#block-cart{
    float: right;
    margin-right: 50px;
    padding-top: 35px;
    position: relative;
    .cart{
        color: #fff;
        i{
            font-size: 17px;
            .badge{
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                background: red;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: -10px;
                margin-right: -15px;
                font-family: 'GothamProRegular';
                padding: 4px 6px;
            }
        }
    }
}
#block-string{
    float: right;
    margin-right: 50px;
    padding-top: 35px;
    position: relative;
    .string{
        color: #fff;
        i{
            font-size: 14px;
            .badge{
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                background: red;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: -14px;
                margin-right: -15px;
                font-family: 'GothamProRegular';
                padding: 4px 6px;
            }
        }
    }
}
.drop-down{
    background: transparent;
    border: none;
    color: #fff;
    margin-left: -150px;
    position: absolute;
    margin-top: 27px;
    z-index: 100;
    li{
        width: 320px;
        padding: 14px 25px 14px 19px;
        background-color: rgba(0, 0, 0, 0.7);
        margin-bottom: 1px;
        list-style: none;
        a{
            color: #fff;
            &:hover,&:focus{
                background: none;
                color: #fff;
            }
        }
        &.top{
            font-size: 14px;
            .badge{
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                background: red;
                font-family: 'GothamProRegular';
                padding: 4px 6px;
            }
        }
        p{
            margin-bottom: 0;
        }
    }
    .sum{
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }
}

.anim {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.btn-cart{
    background: #F86E21;
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    box-shadow: 0.3px 2px 0 0 #a23e07;
    border: none;
    &:hover, &:focus{
        background: #F86E21 !important;
        color: #fff;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        padding: 0 15px;
        box-shadow: 0.3px 2px 0 0 #a23e07;
        border: none;
    }
    &:active{
        box-shadow: inset 0.3px 2px 0 0 #a23e07;
        border: none;
    }
}
#find{
    padding-bottom: 150px;
}
#menu-profile-my{
    min-height: 30px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 30px;
    nav{
        a{
            display: inline-block;
            color: #000;
            height: 30px;
            line-height: 30px;
            padding: 0 25px;
            span{
                display: block;
                height: 30px;
            }
            &.router-link-active,
            &.router-link-exact-active,
            &:hover,&:focus{
                text-decoration: none;
                span{
                    border-bottom: 2px solid #000;
                }
            }
        }
    }
    &.lang-ru{
        nav{
            a{
                padding: 0 26px;
            }
        }
    }
    &.lang-en{
        nav{
            a{
                padding: 0 35px;
            }
        }
    }
}
#menu-aktyvnist{
    a{
        display: block;
        color: #000;
        margin-bottom: 10px;
        padding-left: 15px;
        border-left: 2px solid #fff;
        &.router-link-exact-active{
            border-left: 2px solid #000;
            font-family: "GothamProMedium";
        }
    }
}
#block-profile-my{
    padding: 15px;
    min-height: 210px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 38%;
        min-height: 210px;
        background: rgba(241,241,241, 0.75);
        left: 0;
        top: 0;
        height: 100%;
    }
    .ava{
        position: relative;
        display: block;
        min-height: 90px;
        .online-offline{
            position: absolute;
            margin-left: 35px;
            margin-top: -10px;
        }
    }
    .on-off-text{
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .rating-line{
        margin-bottom: 10px;
    }
    .rt{
        font-family: "GothamProLight";
        font-size: 10px;
        margin-bottom: 5px;
        line-height: 1;
    }
    .at{
        font-family: "GothamProMedium";
        font-size: 12px;
        line-height: 1;
    }
    h2{
        font-family: "GothamProMedium";
        font-size: 16px;
        line-height: 1;
        margin: 0 0 93px 0;
    }
    .edit-profile{
        font-size: 16px;
        color: #000;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
    .info{
        font-family: "GothamProLight";
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1;
        span{
            font-family: "GothamProRegular";
        }
    }
    .icons{
        i{
            margin-right: 10px;
            font-size: 16px;
        }
    }
}
.online-offline{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: #fff;
    @include border-radius(50%);
    &.online{
        background: #36d505;
    }
    &.offline{
        background: #212121;
    }
}
.rating-line{
    height: 2px;
    .line{
        height: 2px;
        background: #212121;
        list-style: none;
        float: left;
        margin-right: 3px;
        &:last-child{
            margin-right: 0;
        }
        &.green{
            background: #36d505;
        }
    }
    .w50p{
        width: 50%;
    }
    .w16p{
        width: 13.6%;
    }
}
.c-green{
    color: #36d505;
}
#block-aktyvnist-1{
    margin-bottom: 25px;
    .aktyvnist-row{
        padding: 15px;
        background: #f4f4f4;
        margin-bottom: 15px;
        .ava{
            min-width: 80px;
            max-width: 80px;
            display: block;
            margin: 0 auto;
        }
        .txt{
            font-size: 12px;
            a{
                color: #000;
            }
        }
        .created{
            font-size: 12px;
            color: #8C8783;
        }
        .type{
            text-align: center;
            .work{
                display: block;
                min-width: 60px;
                max-width: 60px;
                max-height: 30px;
                margin: 0 auto;
                img{
                    border: 1px solid #fff;
                }
            }
            .gallery{
                color: #000;
                i{
                    font-size: 16px;
                }
            }
        }
    }
}
.tpl-product{
    margin-bottom: 25px;
    .tpl-left{
        background: #212121;
        position: relative;
        float: left;
        width: 45px;
        min-height: 160px;
    }
    .tpl-rigth{
        background: #ccc;
        min-height: 160px;
        width: 82.8%;
        position: relative;
        float: left;
        /*&:hover{
            .captions-link{
                visibility: visible;
            }
        }*/
    }
    .infos{
        margin: 0;
        li{
            list-style: none;
            margin-bottom: 0;
            .division{
                color: #fff;
                text-align: center;
                font-size: 12px;
                text-transform: uppercase;
                padding: 5px 0;
                font-family: "GothamProMedium";
                &.division-midi{
                    background: #fd5503;
                }
                &.division-maxi{
                    background: #d00e09;
                }
                &.division-mini{
                    background: #60a80d;
                }
                &.division-ultra{
                    background: #37c0ca;
                    font-size: 10px;
                }
                &.division-free{
                    background: #989f9f;
                }
            }
            .ic{
                color: #fff;
                text-align: center;
                font-size: 11px;
                text-transform: uppercase;
                padding: 3px 0 !important;
                font-family: "GothamProMedium";
                line-height: 1.2;
            }
        }
    }
    .line-bg{
        height: 3px;
        width: 100%;
        background: #8f8f8f;
        position: absolute;
        top: 0;
        right: 0;
        .line {
            height: 3px;
            width: 70%;
            background: #1D1D7E;
            position: relative;
            float: right;
        }
    }
    .item-img{
        max-height: 160px;
        min-height: 160px;
        min-width: 217.328;
        max-width: 217.328;
    }
    .captions-link{
        position: absolute;
        top: 0;
        left: 0;
        height: 160px;
        width: 100%;
        z-index: 100;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, 0.75);
        }
        nav{
            position: relative;
            text-align: center;
            padding-top: 65px;
            a{
                z-index: 100;
                display: inline-block;
                height: 35px;
                width: 35px;
                border: 1px solid #fff;
                text-align: center;
                line-height: 35px;
                @include border-radius(50%);
                color: #fff;
                margin-right: 10px;
                i{
                    font-size: 16px;
                }
            }
        }
    }
    .captions{
        padding-top: 10px;
        .captions-left{
            position: relative;
            float: left;
            width: 80%;
            padding-right: 15px;
        }
        .captions-rigth{
            position: relative;
            float: right;
            width: 20%;
            text-align: right;
        }
        h3 {
            font-family: "GothamProMedium";
            font-size: 14px;
            margin: 0 0 2px 0;
        }
        h4 {
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }
        .price {
            font-size: 18px;
            white-space: nowrap;
        }
    }
    .user{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
        z-index: 1;
        .ava{
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}
.unvis{
    display: none;
}
.tpl-gallery{
    margin-bottom: 25px;
    position: relative;
    .tpl-left{
        background: #212121;
        position: relative;
        float: left;
        width: 45px;
        min-height: 160px;
    }
    .tpl-rigth{
        background: #ccc;
        min-height: 160px;
        width: 82.8%;
        position: relative;
        float: left;
    }
    .infos{
        margin: 0;
        li{
            list-style: none;
            margin-bottom: 0;
            .ic{
                color: #fff;
                text-align: center;
                font-size: 11px;
                text-transform: uppercase;
                padding: 4px 0 !important;
                font-family: "GothamProMedium";
                line-height: 1.2;
            }
        }
    }
    .item-img{
        max-height: 160px;
        min-height: 160px;
        min-width: 217.328;
        max-width: 217.328;
    }
    .captions{
        padding-top: 10px;
        .captions-left{
            position: relative;
            float: left;
            width: 80%;
            padding-right: 15px;
        }
        .captions-rigth{
            position: relative;
            float: right;
            width: 20%;
            text-align: right;
        }
        h3 {
            font-family: "GothamProMedium";
            font-size: 14px;
            margin: 0 0 2px 0;
        }
        h4 {
            font-size: 10px;
            font-weight: normal;
            margin: 0;
        }
    }
    .user{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
        z-index: 1;
        .ava{
            display: block;
            width: 30px;
            height: 30px;
        }
    }
    .to-gallery{
        position: absolute;
        width: 100%;
        background: #fff;
        padding: 10px;
        text-align: right;
        .btn{
            margin-right: -10px;
        }
    }
}
.tpl-tema{
    margin-bottom: 25px;
    position: relative;
    background: #F4F4F4;
    padding: 10px;
    .created{
        margin-bottom: 5px;
    }
    .comments{
        margin-bottom: 5px;
        text-align: right;
        i{
            font-size: 16px;
        }
    }
    .img{
        margin-bottom: 10px;
        min-height: 160px;
        position: relative;
    }
    h3{
        font-family: "GothamProMedium";
        font-size: 14px;
        margin: 0 0 10px 0;
        a{
            color: #000;
        }
    }
    .text{
        font-size: 11px;
        line-height: 1.1;
        margin-bottom: 10px;
    }
    .category{
        a{
            display: inline-block;
            color: #000;
            border: 1px solid #b3b3b3;
            font-size: 11px;
            padding: 2px 15px;
            margin-right: 5px;
            margin-bottom: 5px;
            &:hover,&:focus{
                text-decoration: none;
                background: #fff;
            }
        }
    }
    .user{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
        z-index: 1;
        .ava{
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}
.tpl-work{
    margin-bottom: 25px;
    position: relative;
    background: #F4F4F4;
    padding: 10px;
    .created{
        margin-bottom: 5px;
    }
    .price{
        font-family: "GothamProMedium";
        font-size: 16px;
        text-align: right; 
    }
    .img{
        margin-bottom: 10px;
        min-height: 160px;
        position: relative;
    }
    h3{
        font-family: "GothamProMedium";
        font-size: 14px;
        margin: 0 0 10px 0;
        a{
            color: #000;
        }
    }
    .text{
        font-size: 11px;
        line-height: 1.1;
        margin-bottom: 10px;
    }
    .category{
        a{
            display: inline-block;
            color: #000;
            border: 1px solid #b3b3b3;
            font-size: 11px;
            padding: 2px 15px;
            margin-right: 5px;
            margin-bottom: 5px;
            &:hover,&:focus{
                text-decoration: none;
                background: #fff;
            }
        }
    }
    .user{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
        z-index: 1;
        .ava{
            display: block;
            width: 30px;
            height: 30px;
        }
    }
    .ul-i{
        li{
            list-style: none;
            &:first-child{
                text-transform: uppercase;
            }
            i{
                font-size: 16px;
            }
        }
    }
}
.tpl-notifications{
    padding: 15px;
    background: #f4f4f4;
    margin-bottom: 15px;
    .ava{
        min-width: 80px;
        max-width: 80px;
        display: block;
        margin: 0 auto;
    }
    .txt{
        font-size: 12px;
        a{
            color: #000;
        }
    }
    .created{
        font-size: 12px;
        color: #8C8783;
    }
    .type{
        text-align: center;
        .work{
            display: block;
            min-width: 60px;
            max-width: 60px;
            max-height: 30px;
            margin: 0 auto;
            img{
                border: 1px solid #fff;
            }
        }
        .gallery{
            color: #000;
            i{
                font-size: 16px;
            }
        }
    }
}

/*
 * Responsive
 */
//******************************** xs
@include responsive(xs) {

}
//******************************** sm
@include responsive(sm) {

   /*@media screen and (orientation:portrait) {
    
   }
   @media screen and (orientation:landscape) {
    
   }*/
}
//******************************** md
@include responsive(md) {

    /*@media screen and (orientation:portrait) {
    
    }
    @media screen and (orientation:landscape) {
    
    }*/
}
//******************************** lg
@include responsive(lg) {


    /*@media screen and (orientation:portrait) {
    
    }
    @media screen and (orientation:landscape) {
    
    }*/
}
.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg{
    float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width: 767px) {    
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
    .text-center-xs{
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
    .text-center-sm{
        text-align: center;
    }
    .text-right-sm{
        text-align: right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
    .text-right-lg{
        text-align: right;
    }
    .text-center-lg{
        text-align: center;
    }
}
.notifications{
    left: 50%;
    margin-left: -100px;
    top: 50px !important;
    background: transparent;
    .out-in{
        background: transparent;
    }
}
.notification.cp {
  // Style of the notification itself
    background: transparent;
    margin-bottom: 15px;
    padding: 15px;
    .notification-title {
    // Style for title line
        font-weight: bold;
        margin-bottom: 10px;
    }
    .notification-content {
      // Style for content
      ul{
        li{
            margin-bottom: 7px;
            list-style: none;
            font-size: 12px;
        }
      }
    }
    &.success{
        color: #fff;
        background: rgba(43,185,76, 0.9);
    }
    &.error{
        color: #fff;
        background: rgba(214,0,0, 0.9);
    }
}






















