<template>
    <div id="block-profile-my"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-5">
                            <a href="javascript:void(0);"  v-if="user" class="ava">   
                                <img :src="'/avatar/150x150/'+user.id" :alt="user.first_name" class="img-circle img-responsive">
                                <div class="online-offline online"></div>
                            </a>
                            <div class="on-off-text">в мережі</div>   
                            <ul class="rating-line">
                                <li class="line w50p green"></li>
                                <li class="line w16p"></li>
                                <li class="line w16p"></li>
                                <li class="line w16p"></li> 
                            </ul>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-6 text-center">
                                    <div class="rt">{{ $t('reytynh') }}</div> 
                                    <div class="at">5333</div>
                                </div>
                                <div class="col-lg-6 text-center"> 
                                    <div class="rt">{{ $t('aktyvnist') }}</div>
                                    <div class="at">70%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">     
                            <div class="row">
                                <div class="col-lg-10">
                                    <h2 v-if="user">{{ user | username }}</h2>
                                </div> 
                                <div class="col-lg-2"> 
                                    <a href="javascript:void(0);" class="edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>  
                            <div class="info"><i class="fa fa-map-marker" aria-hidden="true"></i> Україна, Львів</div>
                            <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ $t('Na_sayti_z') }} 21.02.2017</div>
                            <div class="info" v-html="this.$options.filters.Vidhuk(3)"></div>    
                            <div class="icons"> 
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> 
                                <i class="fa fa-envelope c-green" aria-hidden="true"></i>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <i class="fa fa-phone c-green" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                user: null,
            }  
        },
        methods: {
            
        },
        mounted() {
            this.user = JSON.parse(localStorage.getItem('user'));
        }
    }
</script>