<template>
    <div id="block-aktyvnist-1">
        <template v-for="item in items">
            <tpl-notifications  :item="item"></tpl-notifications>
        </template>
    </div> 
</template>

<script>
    
    Vue.component('tpl-notifications', require('./TplNotifications.vue'));
    
    export default {
        props: {
            items: {
                type: Array,
                default: [],
            }
        }
    }
</script>