<template>
    <div id="block-aktyvnist-2">
        <div class="row" v-masonry transition-duration="0.3s" item-selector=".masonry">
            <div v-masonry-tile class="col-lg-4 masonry" v-for="item in items">
                <tpl-product v-if="item.tpl == 'product'" :item="item"></tpl-product>
                <tpl-gallery v-if="item.tpl == 'gallery'" :item="item"></tpl-gallery>
                <tpl-tema v-if="item.tpl == 'tema'" :item="item"></tpl-tema>
                <tpl-work v-if="item.tpl == 'work'" :item="item"></tpl-work>
            </div>
        </div>
    </div> 
</template>

<script>
    
    Vue.component('tpl-product', require('./TplProduct.vue'));
    Vue.component('tpl-gallery', require('./TplGallery.vue'));
    Vue.component('tpl-tema', require('./TplTema.vue'));
    Vue.component('tpl-work', require('./TplWork.vue'));
    
    export default {
        props: {
            items: {
                type: Array,
                default: [],
            }
        }
    }
</script>