<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-aktyvnist></menu-aktyvnist>
                </div>
                <div class="col-lg-9"> 
                    <block-aktyvnist-1 :items="notify"></block-aktyvnist-1>
                    <block-aktyvnist-2 :items="blocks"></block-aktyvnist-2> 
                </div>
            </div> 
        </div>
    </div>
</template>

<script>
    
    Vue.component('block-aktyvnist-1', require('./BlockAktyvnist1.vue'));
    Vue.component('block-aktyvnist-2', require('./BlockAktyvnist2.vue'));
    
    export default {
        data(){
            return {
                notify: [],
                blocks: [],
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/profile').then(response => {
                    this.notify = response.data.notify;
                    this.blocks = response.data.blocks;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
            //this.getData();
        }
    }
</script>