<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <menu-aktyvnist></menu-aktyvnist>
                </div>
                <div class="col-lg-9"> 
                    <div id="profile-all-notifications">
                        <template v-for="item in notifications.data">
                            <tpl-notifications :item="item"></tpl-notifications>
                        </template>
                        <infinite-loading @infinite="infiniteHandler">
                            <span slot="no-more">
                                Сповіщень більше немає :)
                            </span>
                        </infinite-loading>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    
    Vue.component('tpl-notifications', require('./TplNotifications.vue'));
   
    export default {
        components: {
            InfiniteLoading,
        },
        data(){
            return {
                notifications: [],
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                this.$Progress.start();
                axios.post('/api/v1/profile/activity/all-notifications').then(response => {
                    this.notifications = response.data;
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            infiniteHandler($state) {
                var _this = this;
                
                axios.post(this.notifications.next_page_url).then(response => {
                    
                    $.each(response.data.data, function(k, v){
                        _this.notifications.data.push(v);
                    });
                    this.notifications.current_page = response.data.current_page;
                    this.notifications.next_page_url = response.data.next_page_url;
                    
                    $state.loaded();
                }).catch(error => {
                    $state.complete();
                });
            }
            //loadMore: function()
            //{
            //    var _this = this;
            //    window.onscroll = function() {
            //        var d = document.documentElement;
            //        var offset = d.scrollTop + window.innerHeight;
            //        var height = d.offsetHeight;
            //        
            //        if (offset === height) {
            //            axios.post(_this.notifications.next_page_url).then(response => {
            //                
            //            }).catch(error => {
            //                
            //            });
            //        }
            //    };
            //}
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>