<template>
    <div id="page-profile">
        <menu-profile-my></menu-profile-my>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-9"> 
                    
                </div>
            </div> 
        </div>
    </div> 
</template>

<script>
    
   
    export default {
        data(){
            return {
                
            }  
        },
        head: {
            title: {
                inner: 'Мій профіль'
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData());
        },
        methods: {
            getData: function()
            {
                //this.$Progress.start();
                //axios.post('/api/v1/profile').then(response => {
                //    this.notify = response.data.notify;
                //    this.blocks = response.data.blocks;
                //    this.$Progress.finish();
                //}).catch(error => {
                //    this.$Progress.fail();
                //});
            }
        },
        mounted() {
            this.$parent.currentBlock = 'block-profile-my';
            this.$parent.headerClass = 'profile-header';
        }
    }
</script>