<template>
    <div class="tpl-product">
        <div class="tpl-left">
            <ul class="infos">
                <li>
                    <div class="division" v-bind:class="'division-'+item.division">{{ item.division }}</div>
                </li>
                <li><div class="ic">{{ item.downloads }}<br> <i class="blk-uniF105"></i></div></li>
                <li><div class="ic">{{ item.comments }}<br> <i aria-hidden="true" class="fa fa-comment-o"></i></div></li>
                <li><div class="ic">{{ item.views }}<br> <i class="blk-uniF108"></i></div></li>
                <li><div class="ic">{{ item.likes }}<br> <i class="blk-uniF107"></i></div></li>
            </ul> 
        </div>
        <div class="tpl-rigth" v-on:mouseover="onMouseover" v-on:mouseleave="onMouseleave">
            <div class="captions-link anim" v-bind:class="hover"> 
                <nav>
                    <a href="javascript:void(0);"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-link" aria-hidden="true"></i></a>
                </nav> 
            </div>
            <div class="user">  
                <router-link :to="item.user.link" class="ava">
                    <img :src="item.user.avatar" class="img-circle img-responsive">
                </router-link>
            </div>
            <div class="line-bg">
                <div class="line"></div>
            </div> 
            <img :src="item.img" class="img-responsive item-img">
        </div> 
        <div class="clearfix"></div>
        <div class="captions">
            <div class="captions-left">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.category }}</h4> 
            </div>
            <div class="captions-rigth">
                <div class="price">$ {{ item.price }}</div>   
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null,
            }
        },
        data(){
            return {
                hover: 'unvis',
            }  
        },
        methods: {
            onMouseover: function()
            {
                this.hover = 'zoomIn';
            },
            onMouseleave: function()
            {
                this.hover = 'zoomOut';
            }
        }
    }
</script>