<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">
                                <nav class="bottom-nav">
                                    <a href="javascript:void(0);">{{ $t('bottommenu.about') }}</a>
                                    <a href="javascript:void(0);">{{ $t('bottommenu.faq') }}</a>
                                    <a href="javascript:void(0);">{{ $t('bottommenu.suport') }}</a>
                                    <a href="javascript:void(0);">{{ $t('bottommenu.legal') }}</a>
                                </nav>
                            </div>
                            <div class="col-lg-6">
                                <p class="copy">All rights reserved.Power by S-Smart studio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"> 
                        <nav class="social-nav">
                            <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</template>