<template>
    <div class="container-fluid">
        <div id="header-catalog">
            <div class="container">
                <nav id="nav-category" v-bind:class="'nav-category-'+$t('lang')">
                    <a v-for="item in categorys" href="javascript:void(0);" v-on:click="openChild(item)"><i class="ico-cat" :class="item.ico"></i> {{ item.name }} <i class="ico-arrow"></i></a>
                </nav>
            </div>
        </div>
        <transition name="fade">
        <div id="header-sub-catalog" v-if="open" v-on:mouseleave="mouseOver">
            <div class="container">
                
                <div class="sub-cat">
                    <div class="row" v-for="row in sub">
                        <div class="col-lg-2" v-for="col in row">
                            <a href="javascript:void(0);"><i class="ico-sub-cat" :class="col.ico"></i> {{ col.name }}</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        </transition>
    </div>
</template>

<script>
    
    import { EventBus } from '../event-bus.js';
    
    export default {
        data(){
            return {
                items: [],
                child: [],
                open: false,
            }  
        },
        methods:{
            getCat: function()
            {
                var catalog = localStorage.getItem('catalog');
                if (catalog) {
                    this.items = JSON.parse(catalog);
                }
                else
                {
                    axios.post('/api/v1/get/catalog').then(response => {
                        this.items = response.data;
                        localStorage.setItem('catalog', JSON.stringify(response.data));
                    }).catch(error => {
                        
                    });
                }
                
            },
            openChild: function(item)
            {
                
                if (Object.keys(item.children).length) {
                    this.child = item.children;
                    //this.open = !this.open;
                    this.open = true;
                }
                else
                {
                    this.child = [];
                    this.open = false;
                }
                
                //console.log(item);
            },
            mouseOver: function()
            {
                this.open = !this.open;
            }
        },
        computed: {
            categorys: function()
            {
                return this.items[this.$t('lang')];
            },
            sub: function()
            {
                return _.chunk(_.toArray(this.child), 6);
            }
        },
        mounted() {
            this.getCat();
            var _this = this;
        }
    }
</script>