<template>
    <div id="header-nav">
        <div class="container">
            <div id="menu-nav" class="row visible-xs visible-sm">
                <div class="col-xs-6 col-sm-6 text-left p-l-0 p-r-0">
                    <a href="javascript:void(0);" class="mymenu" data-toggle="collapse" data-target="#top-nav"><i class="ico-menu-closed"></i> МЕНЮ</a>
                </div>
                <div class="col-xs-6 col-sm-6 text-right p-l-0 p-r-0">
                    <a href="javascript:void(0);" class="lk"><i class="ico-lk"></i> ЛИЧНЫЙ КАБИНЕТ</a>
                </div>
            </div>
            <nav id="top-nav" class="collapse">
                <router-link to="/" v-bind:class="{ 'active': activeMain }">ЧАСТНЫМ КЛИЕНТАМ</router-link>
                <router-link :to="{ name: 'biznes', params: {code: code} }" v-bind:class="{ 'active': activeBiznes }">БИЗНЕС КЛИЕНТАМ</router-link>
                <router-link to="/oplata">ОПЛАТА</router-link>
                <router-link to="/nomer">ВЫБОР НОМЕРА</router-link>
                <router-link to="/suport">ПОДДЕРЖКА</router-link>
                <router-link to="/shop">МАГАЗИН</router-link>
                <a href="javascript:void(0);" class="hidden-xs hidden-sm"><i class="ico-lk"></i> ЛИЧНЫЙ КАБИНЕТ</a>
            </nav>
        </div>
    </div>
</template>

<script>
    
    import { EventBus } from '../event-bus.js';
    
    export default {
        data(){
            return {
                activeMain: false,
                activeBiznes: false,
                code: localStorage.getItem('defaultRegionCode'),
            }  
        },
        watch: {
            '$route': 'setActive'
        },
        methods:{
            setActive: function()
            {
                if (this.$route.path == '/for-tablet' || this.$route.path == '/for-tablet/') {
                    this.activeMain = true;
                }
                else
                {
                    this.activeMain = false;
                }
                //
                if (this.$route.path == '/biznes/atc' || this.$route.path == '/biznes/atc/') {
                    this.activeBiznes = true;
                }
                else
                {
                    this.activeBiznes = false;
                }
                //
                (function($, viewport){
                    $(document).ready(function() {
                        if(viewport.is('xs') || viewport.is('sm')) {
                            //$('#top-nav a').on('click', function(){
                            //    $('#top-nav').removeClass('in').attr('aria-expanded', false);
                            //});
                            $('#top-nav').collapse('hide');
                        }
                    });
                })(jQuery, ResponsiveBootstrapToolkit);
                
            }
        },
        mounted() {
            var _this = this;
            console.log('Component mounted TopNav.');
            this.setActive();
            EventBus.$on('region-change', function(){
                _this.code = localStorage.getItem('defaultRegionCode');
                //console.log(this.code);
            });
        }
    }
</script>